<div class="panel">
  <div class="container">
    <div class="view-score-title">
      <div>
        <h6>Score</h6>
        <small
          >See all the scores in here of overall rounds, clubs & company</small
        >
      </div>
    </div>
    <div class="view-score-table">
      <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
        <mat-tab *ngFor="let round of leagueScores | keyvalue" [label]=" 'Round ' + round.key ">
          <table class="table-2">
            <thead>
              <tr>
                <th>Rank</th>
                <th>Players</th>
                <th>Rating%</th>
                <th>Points Scored</th>
                <th>Points Possible</th>
                <th>Games Played</th>
                <th class="green-font">+ Won</th>
                <!-- <th class="red-font">- Losses</th> -->
                <th>Win%</th>
                <th>History</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let player of round.value.individual | keyvalue; let i = index">
                <td>{{ i + 1 }}</td>
                <td>{{player.key}}</td>
                <td>{{player.value.rating}}</td>
                <td>{{player.value.points_scored}}</td>
                <td>{{player.value.points_possible}}</td>
                <td>{{player.value.played}}</td>
                <td class="green-font">{{player.value.won}}</td>
                <!-- <td class="red-font">-7</td> -->
                <td>{{player.value.win_percent}}</td>
                <td class="flex justify-center">
                  <div *ngFor="let winLose of player.value.win_lose_history.split(',')">
                    <div class="status-square bg-red flex justify-center" [ngClass]="{'bg-green': winLose === '1', 'bg-red': winLose === '0'}">
                      <img [src]="winLose === '1' ? 'assets/images/w-latter.svg' : 'assets/images/l-latter.svg'" alt="" />
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="view-score-title">
            <h6>Cumulative score</h6>
          </div>
          <table class="table-2">
            <thead>
              <tr>
                <th>Rank</th>
                <th>Players</th>
                <th>Rating%</th>
                <th>Points Scored</th>
                <th>Points Possible</th>
                <th>Games Played</th>
                <th class="green-font">+ Won</th>
                <!-- <th class="red-font">- Losses</th> -->
                <th>Win%</th>
                <th>History</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let player of round.value.cumulative | keyvalue; let i = index">
                <td>{{ i + 1 }}</td>
                <td>{{player.key}}</td>
                <td>{{player.value.rating}}</td>
                <td>{{player.value.points_scored}}</td>
                <td>{{player.value.points_possible}}</td>
                <td>{{player.value.played}}</td>
                <td class="green-font">{{player.value.won}}</td>
                <!-- <td class="red-font">-7</td> -->
                <td>{{player.value.win_percent}}</td>
                <td class="flex justify-center">
                  <div *ngFor="let winLose of player.value.win_lose_history.split(',').reverse()">
                    <div class="status-square bg-red flex justify-center" [ngClass]="{'bg-green': winLose === '1', 'bg-red': winLose === '0'}">
                      <img [src]="winLose === '1' ? 'assets/images/w-latter.svg' : 'assets/images/l-latter.svg'" alt="" />
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
