<div class="panel">
  <div class="container">
    <div class="view-score-title">
      <div>
        <a (click)="onBack()" class="go-back-link"> GO BACK </a>
        <h6>
          Score <b *ngIf="leagueName">- (League: {{ leagueName }})</b>
        </h6>
        <small
          >See all the scores in here of overall rounds, clubs & company</small
        >
      </div>
    </div>
    <div class="view-score-table">
      <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
        <mat-tab
          *ngFor="let round of leagueScores | keyvalue : sortRounds"
          [label]="'Round ' + round.key"
        >
          <div class="overflow">
            <table
              class="table-2"
              #cumulativeTable = "matSort"
              matSort
              matSortActive="rating"
              matSortDirection="desc"
            >
              <thead>
                <tr>
                  <th>Rank</th>
                  <th mat-sort-header="player">Players</th>
                  <th mat-sort-header="rating">Rating</th>
                  <th mat-sort-header="points_scored">Points Scored</th>
                  <th>Points Possible</th>
                  <th mat-sort-header="points_won_percent">Points Won %</th>
                  <th>Games Played</th>
                  <th>Games Possible</th>
                  <th mat-sort-header="games_played_percent">Games Played %</th>
                  <th class="green-font" mat-sort-header="games_won">
                    Games Won
                  </th>
                  <th class="red-font" mat-sort-header="games_lost">
                    Games Lost
                  </th>
                  <th mat-sort-header="games_won_percent">Games Won %</th>
                  <th>
                    Game History <br />
                    <small>(Latest game first)</small>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr
                  *ngFor="let player of getSortedCumulative(round.value.cumulative); let i = index"
                >
                  <td>{{ i + 1 }}</td>
                  <td>{{ player.player }}</td>
                  <td>{{ player.weighted_rating }}</td>
                  <td>{{ player.points_scored }}</td>
                  <td>{{ player.points_possible }}</td>
                  <td>{{ player.points_won_percent }}</td>
                  <td>{{ player.games_played }}</td>
                  <td>{{ player.games_possible }}</td>
                  <td>{{ player.games_played_percent }}</td>
                  <td class="green-font">{{ player.games_won }}</td>
                  <td class="red-font">{{ player.games_lost }}</td>
                  <td>{{ player.games_won_percent }}</td>
                  <td>
                    <div class="flex justify-center">
                      <div
                        *ngFor="
                          let winLose of player.win_lose_history.split(',')
                        "
                      >
                        <div
                          class="status-square bg-red flex justify-center"
                          [ngClass]="{
                            'bg-green': winLose === '1',
                            'bg-red': winLose === '0'
                          }"
                        >
                          <img
                            [src]="
                              winLose === '1'
                                ? 'assets/images/w-latter.svg'
                                : 'assets/images/l-latter.svg'
                            "
                            alt=""
                          />
                        </div>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="view-score-title">
            <h6>This Round</h6>
          </div>
          <div class="overflow">
            <table
              class="table-2"
              #individualTable = "matSort"
              matSort
              matSortActive="rating"
              matSortDirection="desc"
            >
              <thead>
                <tr>
                  <th>Rank</th>
                  <th mat-sort-header="player">Players</th>
                  <th mat-sort-header="rating">Rating</th>
                  <th mat-sort-header="points_scored">Points Scored</th>
                  <th>Points Possible</th>
                  <th mat-sort-header="points_won_percent">Points Won %</th>
                  <th>Games Played</th>
                  <th>Games Possible</th>
                  <th mat-sort-header="games_played_percent">Games Played %</th>
                  <th class="green-font" mat-sort-header="games_won">
                    Games Won
                  </th>
                  <th class="red-font" mat-sort-header="games_lost">
                    Games Lost
                  </th>
                  <th mat-sort-header="games_won_percent">Games Won %</th>
                  <th>
                    Game History <br />
                    <small>(Latest game first)</small>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr
                  *ngFor="let player of getSortedIndividual(round.value.individual); let i = index"
                >
                  <td>{{ i + 1 }}</td>
                  <td>{{ player.player }}</td>
                  <td>{{ player.weighted_rating }}</td>
                  <td>{{ player.points_scored }}</td>
                  <td>{{ player.points_possible }}</td>
                  <td>{{ player.points_won_percent }}</td>
                  <td>{{ player.games_played }}</td>
                  <td>{{ player.games_possible }}</td>
                  <td>{{ player.games_played_percent }}</td>
                  <td class="green-font">{{ player.games_won }}</td>
                  <td class="red-font">{{ player.games_lost }}</td>
                  <td>{{ player.games_won_percent }}</td>
                  <td>
                    <div class="flex justify-center">
                      <div
                        *ngFor="
                          let winLose of player.win_lose_history.split(',')
                        "
                      >
                        <div
                          class="status-square bg-red flex justify-center"
                          [ngClass]="{
                            'bg-green': winLose === '1',
                            'bg-red': winLose === '0'
                          }"
                        >
                          <img
                            [src]="
                              winLose === '1'
                                ? 'assets/images/w-latter.svg'
                                : 'assets/images/l-latter.svg'
                            "
                            alt=""
                          />
                        </div>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
