<div class="panel">
  <div class="container">
    <div class="view-score-title">
      <div>
        <h6>Score <b *ngIf="leagueName">- (League: {{leagueName}})</b>
        </h6>
        <small
          >See all the scores in here of overall rounds, clubs & company</small
        >
      </div>
    </div>
    <div class="view-score-table">
      <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
        <mat-tab
          *ngFor="let round of leagueScores | keyvalue : sortRounds"
          [label]="'Round ' + round.key"
        >
          <div class="overflow">
            <table class="table-2" matSort (matSortChange)="sortData($event)">
              <thead>
                <tr>
                  <th>Rank</th>
                  <th>Players</th>
                  <th>Rating</th>
                  <th>Points Scored</th>
                  <th>Points Possible</th>
                  <th>Points Won %</th>
                  <th>Games Played</th>
                  <th>Games Possible</th>
                  <th>Games Played %</th>
                  <th class="green-font">Games Won</th>
                  <th class="red-font">Games Lost</th>
                  <th>Games Won %</th>
                  <th>Game History <br/>
                    <small>(Latest game first)</small>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr
                  *ngFor="
                    let player of round.value.cumulative | keyvalue;
                    let i = index
                  "
                >
                  <td>{{ i + 1 }}</td>
                  <td>{{ player.key }}</td>
                  <td>{{ player.value.weighted_rating }}</td>
                  <td>{{ player.value.points_scored }}</td>
                  <td>{{ player.value.points_possible }}</td>
                  <td>{{ player.value.points_won_percent }}</td>
                  <td>{{ player.value.games_played }}</td>
                  <td>{{ player.value.games_possible }}</td>
                  <td>{{ player.value.games_played_percent }}</td>
                  <td class="green-font">{{ player.value.games_won }}</td>
                  <td class="red-font">{{ player.value.games_lost }}</td>
                  <td>{{ player.value.games_won_percent }}</td>
                  <td>
                    <div class="flex justify-center">
                      <div
                        *ngFor="
                          let winLose of player.value.win_lose_history.split(
                            ','
                          )
                        "
                      >
                        <div
                          class="status-square bg-red flex justify-center"
                          [ngClass]="{
                            'bg-green': winLose === '1',
                            'bg-red': winLose === '0'
                          }"
                        >
                          <img
                            [src]="
                              winLose === '1'
                                ? 'assets/images/w-latter.svg'
                                : 'assets/images/l-latter.svg'
                            "
                            alt=""
                          />
                        </div>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="view-score-title">
            <h6>This Round</h6>
          </div>
          <div class="overflow">
            <table class="table-2">
              <thead>
                <tr>
                  <th>Rank</th>
                  <th>Players</th>
                  <th>Rating</th>
                  <th>Points Scored</th>
                  <th>Points Possible</th>
                  <th>Points Won %</th>
                  <th>Games Played</th>
                  <th>Games Possible</th>
                  <th>Games Played %</th>
                  <th class="green-font">Games Won</th>
                  <th class="red-font">Games Lost</th>
                  <th>Games Won %</th>
                  <th>Game History <br/>
                    <small>(Latest game first)</small>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr
                  *ngFor="
                    let player of round.value.individual | keyvalue;
                    let i = index
                  "
                >
                  <td>{{ i + 1 }}</td>
                  <td>{{ player.key }}</td>
                  <td>{{ player.value.weighted_rating }}</td>
                  <td>{{ player.value.points_scored }}</td>
                  <td>{{ player.value.points_possible }}</td>
                  <td>{{ player.value.points_won_percent }}</td>
                  <td>{{ player.value.games_played }}</td>
                  <td>{{ player.value.games_possible }}</td>
                  <td>{{ player.value.games_played_percent }}</td>
                  <td class="green-font">{{ player.value.games_won }}</td>
                  <td class="red-font">{{ player.value.games_lost }}</td>
                  <td>{{ player.value.games_won_percent }}</td>
                  <td>
                    <div class="flex justify-center">
                      <div
                        *ngFor="
                          let winLose of player.value.win_lose_history.split(
                            ','
                          )
                        "
                      >
                        <div
                          class="status-square bg-red flex justify-center"
                          [ngClass]="{
                            'bg-green': winLose === '1',
                            'bg-red': winLose === '0'
                          }"
                        >
                          <img
                            [src]="
                              winLose === '1'
                                ? 'assets/images/w-latter.svg'
                                : 'assets/images/l-latter.svg'
                            "
                            alt=""
                          />
                        </div>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
