<div class="sub-header" *ngIf="isLoggedIn">
  <div class="container flex justify-end">
    <div>
      <b>LFTM - CROSSTOWN</b>
    </div>
    <div class="border-club"></div>
    <div class="dropdown-league">
      <mat-form-field>
        <mat-select
          (selectionChange)="onLeagueSelect($event.value)"
          [(value)]="selectedLeague"
          placeholder="Select"
        >
          <mat-option *ngFor="let league of leagues" [value]="league">{{
            league.name
          }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
</div>
