@import "../../../../assets/scss/abstracts/abstracts";

.sub-header {
    background-color: rgba($black-color, 0.03);
    position: fixed;
    top: 7.3rem;
    left: 0px;
    width: 100%;
    padding: 1.2rem 0rem;
    z-index: 13;

    b {
        color: rgba($black-color, 0.5);
        font-size: 14px;
        font-weight: 600;
        line-height: 17px;
        padding-right: 2rem;
    }
}

.container {
    position: relative;
}

.dropdown-league {
    padding-left: 2rem;
    width: 40rem;
}

.border-club {
    border-right: 1px solid rgba($black-color, 0.15);
    position: absolute;
    height: 4.7rem;
    left: 16rem;
}