<div class="sub-header">
  <div class="container flex justify-end">
    <div class="MB-1-half">
      <b>{{ clubID }}</b>
    </div>
    <div class="border-club"></div>
    <div class="dropdown-league" *ngIf="!isSubHeaderVisible()">
      <mat-form-field>
        <mat-select
          (selectionChange)="onLeagueSelect($event.value)"
          [(value)]="selectedLeague"
          placeholder="Select"
          [disabled]="isLeagueDropdownDisabled()"
        >
          <mat-option *ngFor="let league of leagues" [value]="league">
            {{ league.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
</div>
