<div class="footer">
  <div class="container">
    <div class="flex justify-between align-start">
      <div>
        <div class="footer__logo">
          <a>
            <img
              src="../../../../assets/images/e-league-online-main-logo.png"
              alt=""
            />
          </a>
        </div>
        <div class="pt-1"><b>Serve, Smash, Socialize!</b></div>
      </div>
      <div>
        <div class="flex justify-start">
          <div><a [routerLink]="aboutUsUrl">About us</a></div>
          <div><a [routerLink]="contactUsUrl">Contact us</a></div>
        </div>
        <div class="flex justify-start pt-1">
          <a
            href="https://www.youtube.com/@eleagueonline"
            target="_blank"
            class="icon-square"
          >
            <div class="flex justify-center">
              <img src="../../../../assets/images/youtube-logo.svg" alt="" />
            </div>
          </a>
          <a
            href="https://www.facebook.com/people/Eleagueonline/61556225040898/"
            target="_blank"
            class="icon-square"
          >
            <div class="flex justify-center">
              <img src="../../../../assets/images/facebook-logo.svg" alt="" />
            </div>
          </a>
          <a
            href="https://www.instagram.com/eleagueonline/"
            target="_blank"
            class="icon-square"
          >
            <div class="flex justify-center">
              <img src="../../../../assets/images/instagram-logo.svg" alt="" />
            </div>
          </a>
          <a target="_blank" class="icon-square">
            <div class="flex justify-center">
              <img src="../../../../assets/images/twitter-logo.svg" alt="" />
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="sub-footer">
      <div class="flex justify-between align-end">
        <div><small>© eleague online 2024. All rights reserved.</small></div>
        <div class="flex justify-start">
          <div><a>Privacy Policy</a></div>
          <div><a>Terms & Conditions</a></div>
        </div>
      </div>
    </div>
  </div>
</div>
