<div class="panel">
  <div class="container completed-leagues">
    <div class="flex justify-between align-end">
      <div class="flex justify-end align-center">
        <!-- <div class="mr-1 dropdown">
          <div><label>Company</label></div>
          <mat-form-field>
            <mat-select placeholder="Select" [(value)]="selectedCompanyID">
              <mat-option [value]="selectedCompanyID">{{
                selectedCompanyID
              }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div> -->
        <div class="mr-1 dropdown">
          <div><label>Club</label></div>
          <mat-form-field>
            <mat-select placeholder="Select" [(value)]="selectedClubID">
              <mat-option [value]="selectedClubID">{{
                selectedClubID
              }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="dropdown">
          <div><label>League</label></div>
          <mat-form-field>
            <mat-select placeholder="Select"
              [(value)]="selectedLeague"
              (valueChange)="onLeagueChange()"
            >
              <mat-option *ngFor="let league of leagues" [value]="league.id">
                {{ league.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="primary-btn">
        <button
          type="button"
          class="btn flex justify-center"
          (click)="viewScore()"
        >
          <span><img src="assets/images/view-score-icon.svg" alt="" /></span
          >View Score
        </button>
      </div>
    </div>
    <div class="row"*ngIf="rounds">
      <div class="col-md-3 MB-2" *ngFor="let round of rounds; let i = index">
        <div class="round-box mr-2">
          <div class="flex justify-between mb-1">
            <div>
              <b>Round {{ round.roundNumber }}</b>
            </div>
            <div class="red-btn">
              <button type="button" class="btn-sm flex justify-center"
              *ngIf="round.roundDetails.header?.score_locked"
              >
              
                <span><img src="assets/images/red-lock-icon.svg" alt="" /></span
                >Locked
              </button>
            </div>
          </div>
          <div class="red-btn">
            
            <button type="button" class="btn flex justify-center" (click)="lockScore(round.roundNumber)"
            [disabled]="round.roundDetails.header?.score_locked"
            >
              <span
                ><img
                  src="assets/images/red-icon-lock-second.svg"
                  alt="" /></span
              >Lock Score
            </button>
          </div>
          <div class="primary-btn">
            <button
            [disabled]="round.roundDetails.header?.score_locked"
              type="button"
              class="btn flex justify-center"
              (click)="edit(round.roundNumber)"
            >
            
            <span><img src="assets/images/white-edit-icon.svg" alt="" /></span
              >Edit Score
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="row" *ngIf="rounds.length == 0">
      <h1>No Rounds in Leage</h1>
    </div>
  </div>
</div>

