<div class="panel">
  <div class="container">
    <div class="contact-us flex align-start justify-between">
      <div class="contact-us__img">
        <img
          src="../../../../../../assets/images/contact-us-image.png"
          alt=""
        />
      </div>
      <div class="contact-us__form">
        <h6>Get in touch</h6>
        <div class="text-center">
          <small>Send us your details & we’ll get back to you shortly.</small>
        </div>
        <form>
          <div class="flex justify-end">
            <div class="mr-1">
              <label for="text">First Name</label>
              <input type="text" placeholder="Enter your first name" />
            </div>
            <div>
              <label for="text">First Name</label>
              <input type="text" placeholder="Enter your first name" />
            </div>
          </div>
          <div class="MT-1-half">
            <label for="email">Email</label>
            <input type="email" placeholder="Enter your email" />
          </div>
          <div class="MT-1-half">
            <label for="text">What would you like to say?</label>
            <textarea placeholder="Drop your message in here..."></textarea>
          </div>
          <div class="primary-btn-dark">
            <button type="submit" class="btn">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
