<div class="panel">
  <div class="container">
    <div class="contact-us">
      <div class="contact-us__img">
        <img
          src="../../../../../../assets/images/contact-us-image.png"
          alt=""
        />
      </div>
      <div class="contact-us__form">
        <h6>Get in touch</h6>
        <small>Send us your details & we’ll get back to you shortly.</small>
        <form>
          <div class="flex justify-center">
            <div>
              <label for="text">First Name</label>
              <input type="text" placeholder="Enter your first name" />
            </div>
            <div>
              <label for="text">First Name</label>
              <input type="text" placeholder="Enter your first name" />
            </div>
          </div>
          <div>
            <label for="email">Email</label>
            <input type="email" placeholder="Enter your email" />
          </div>
          <div>
            <label for="text">What would you like to say?</label>
            <textarea placeholder="Drop your message in here..."></textarea>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
