// font family
$font-family: 'Big Shoulders Display',
sans-serif !important;
// $raleway-font: 'Raleway',
// sans-serif;s
// colors
$black-color: #000000;
$white-color: #ffffff;
$french_rose: #ff4b91;
$electric_red: #e20000;
$chinese_Silver: #cccccc;
$blue_green: #189cc3;
$zoom-icon-color:#4A8CFF;
$tag-red-color: #FC0909;


$primary-color:#015235;
$red-color:#EF0000;