// font family
$font-family:'Raleway',
sans-serif !important;
// colors
$primary-color:#187AE8;
$primary-hover-color:#0D58AD;
$primary-hover-color:#0D58AD;
$header-color: linear-gradient(90deg, #05155E 0%, #4A97FE 100%);
$black-color: #000000;
$white-color: #ffffff;
$red-color:#EF0000;
$green-color:#007A31;
$gray-color: #131313;