<div class="panel">
  <div class="container">
    <div class="dropdown flex justify-end align-center">
      <div class="mr-1">
        <div><label>League</label></div>
        <mat-form-field>
          <mat-select>
            <mat-option *ngFor="let league of leagues" [value]="league.name">{{ league.name }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="add-row-dropdown" *ngIf="selectedFormat !== '1'">
        <div><label>Display Players</label></div>
        <mat-form-field >
          <mat-select [(ngModel)]="playerCount" >
            <mat-option *ngFor="let i of [5, 10, 15, 20, 25, 30]" [value]="i">
              {{i}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="radio-btn">
      <mat-radio-group
        aria-label="Select an option"
        [(ngModel)]="selectedFormat"
        (change)="onRadioButtonChange()"
      >
        <mat-radio-button value="1">Upload by file</mat-radio-button>
        <mat-radio-button value="2">Upload by data</mat-radio-button>
      </mat-radio-group>
    </div>
    <div *ngIf="selectedFormat == '1'">
      <app-upload-player-file></app-upload-player-file>
    </div>
    <div *ngIf="selectedFormat == '2'">
      <app-upload-player-data
        [playerCount]="playerCount"
      ></app-upload-player-data>
    </div>
  </div>
</div>
