<div class="panel">
  <div class="container">
    <div class="dropdown flex justify-end align-center">
      <!-- <div class="mr-1 dropdown-league">
        <div><label>League</label></div>
        <mat-form-field>
          <mat-select
            (selectionChange)="onLeagueSelect($event.value)"
            [(value)]="selectedLeague"
            placeholder="Select"
          >
            <mat-option *ngFor="let league of leagues" [value]="league">{{
              league.name
            }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div> -->
      <div class="add-row-dropdown mr-1">
        <div><label>Round</label></div>
        <mat-form-field>
          <input matInput type="number" [(ngModel)]="roundCount" placeholder="Enter" disabled />
        </mat-form-field>
      </div>
      <div class="datepicker mr-1">
        <div><label>Date</label></div>
        <mat-form-field>
          <input matInput [matDatepicker]="picker" [(ngModel)]="selectedDate" />
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="round-toggle-btn" *ngIf="selectedFormat == '2'">
        <div>
          <label>Select players
            <img src="../../../../../../assets/images/info-icon.svg" alt="" class="label-img"
              matTooltip="Select players" />
          </label>
        </div>
        <mat-button-toggle-group name="fontStyle" aria-label="Font Style" (change)="onToggleButtonChange($event)">
          <mat-button-toggle [value]="1" [checked]="selectedValue === 1">All</mat-button-toggle>
          <mat-button-toggle [value]="3">Previous</mat-button-toggle>
          <mat-button-toggle [value]="2">Round 1</mat-button-toggle>
        </mat-button-toggle-group>
      </div>
    </div>
    <div class="radio-btn">
      <mat-radio-group aria-label="Select an option" [(ngModel)]="selectedFormat" (change)="onRadioButtonChange()">
        <mat-radio-button value="1">Upload by file</mat-radio-button>
        <mat-radio-button value="2" [disabled]="!selectedLeague">Upload by data</mat-radio-button>
      </mat-radio-group>
    </div>

    <mat-checkbox *ngIf="selectedFormat ==='1'" class="example-margin" [(ngModel)]="overrideSystemFixtures">Override
      System Fixtures</mat-checkbox>

    <div *ngIf="selectedFormat == '1'">
      <app-upload-player-file [roundCount]="roundCount" [selectedDate]="selectedDate"
        [overrideSystemFixtures]="overrideSystemFixtures" [leagueIdPass]="leagueID"
        [selectedLeague]="selectedLeague"></app-upload-player-file>
    </div>
    <div *ngIf="selectedFormat == '2'">
      <app-upload-player-data [selectedDate]="selectedDate" [roundCount]="roundCount" [roundsLength]="roundsLength"
        [leagueID]="leagueID" [selectedLeague]="selectedLeague"
        [selectedValue]="selectedValue"></app-upload-player-data>
    </div>
  </div>
</div>