<div class="panel">
  <div class="container">
    <div class="home-page">
      <div class="row justify-center align-center">
        <div class="col-md-6 col-sm-6">
          <div class="flex align-center">
            <div class="logo">
              <img src="../../../../assets/images/neoja-svg-logo.svg" alt="Logo">
            </div>
            <div>
              <h3>Neoja’s Global Tournament</h3>
            </div>
          </div>
          
          <div style="margin-top: 300px;"><h2>Welcome to neoja</h2></div>
        </div>
        <div class="col-md-6 col-sm-6">
          <div class="menu-img">
            <img src="../../../../assets/images/menu-image.png" alt="Logo">
          </div>
        </div>
      </div>
      <div class="row justify-center align-center">
        <div class="col-md-4 col-sm-4 card-1 bg-img-1 flex justify-center">
          <div class="score-feed flex align-center">
            <h2>score feed</h2>
            <img src="../../../../assets/images/arrow-icon.svg" class="arrow-icon" alt="arrow">
          </div>
        </div>
        
        <div class="col-md-4 col-sm-4 card-1 bg-img-2">
          <div class="score-feed flex align-center">
            <h2>high score</h2>
            <img src="../../../../assets/images/arrow-icon.svg" class="arrow-icon" alt="arrow">
          </div>
        </div>
        <div class="col-md-4 col-sm-4 card-1 bg-img-3">
          <div class="score-feed flex align-center">
            <h2>manager</h2>
            <img src="../../../../assets/images/arrow-icon.svg" class="arrow-icon" alt="arrow">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  