<div class="panel">
  <div class="container">
    <div class="home-page">
      <div class="row justify-center align-center">
        <div class="col-md-6 col-sm-6">
          <h1>
            Automate running <span>Pickleball leagues</span> with a level of
            simplicity and efficiency never seen before on the courts.
          </h1>
          <small>Sign up to onboard your club - physical or digital! </small>
          <div class="flex justify-end MT-4-half">
            <div class="primary-btn">
              <button type="button" class="btn" (click)="openDemo()">
                Schedule a Demo
              </button>
            </div>
            <div class="secondary-btn-light" [routerLink]="loginUrl">
              <button type="button" class="btn">Login</button>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-6 text-center">
          <iframe
            class="video-container"
            src="https://www.youtube.com/embed/sJh7rgHYjj0?si=xkRh4OrWawdbvNeZ"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen
          ></iframe>
        </div>
      </div>
      <div class="row justify-between align-start home-page__play">
        <div class="col-md-6 col-sm-6 PLR-0">
          <img src="assets/images/image-stack.png" alt="" />
        </div>
        <div class="col-md-6 col-sm-6 PLR-0">
          <div>
            <h6>
              Build rounds. Print game firxture sheets. Manage and view scores.
            </h6>
            <p>
              Forget spreadsheets for creating fixtures and recording scores,
              <a [routerLink]="homePageUrl"><span>eleagueonline.com</span></a>
              takes care of everything - freeing up players and organizers to
              focus on what matters most – the game!. Enable your club on the
              platform today, and enjoy the benefits.
            </p>
          </div>
          <!-- <div class="flex justify-end align-start">
            <div><b>1+</b><small>Years served</small></div>
            <div><b>10,000+</b><small>Games Smashed</small></div>
            <div><b>4000+</b><small>Members socialized</small></div>
          </div> -->
        </div>
      </div>
      <div class="home-page__slogan">
        <b>"Sign up to create your Digital Club today!"</b>
      </div>
      <div class="home-page__step-section">
        <h6>Run a league in just 4 easy steps:</h6>
        <div class="row justify-center align-center">
          <div class="col-md-4 col-sm-4">
            <div class="flex justify-center flex-column">
              <div class="font-round">
                <div><span>1</span></div>
              </div>
              <b>Upload</b>
              <small>Login into your account & get access.</small>
            </div>
            <div class="flex justify-center flex-column">
              <div class="font-round">
                <div><span>2</span></div>
              </div>
              <b>Change Formats</b>
              <small
                >Upload file or upload data manually to get started with
                match.</small
              >
            </div>
          </div>
          <div class="col-md-4 col-sm-4">
            <img src="assets/images/pickleball-court-image.png" alt="" />
          </div>
          <div class="col-md-4 col-sm-4">
            <div class="flex justify-center flex-column">
              <div class="font-round">
                <div><span>3</span></div>
              </div>
              <b>Download and Play </b>
              <small
                >You can change your format of the table like you want from the
                given to 2 formats & hit download PDF button.</small
              >
            </div>
            <div class="flex justify-center flex-column">
              <div class="font-round">
                <div><span>4</span></div>
              </div>
              <b
                >Upload Scores and View Scorecard - Player’s delight -
                Up-to-date round-wise scorecard always available at finger tips.
              </b>
              <small
                >Once you download the PDF, you can write your score with on
                that sheet & compete with your friends.</small
              >
            </div>
          </div>
        </div>
      </div>
      <div class="home-page__box">
        <div class="flex justify-end align-center">
          <div class="grey-box flex align-center justify-center flex-column">
            <img src="assets/images/globe-icon.svg" alt="" />
            <small>Leagues</small>
          </div>
          <div>
            <img src="assets/images/image-2.png" alt="" />
          </div>
          <div class="grey-box flex align-center justify-center flex-column">
            <img src="assets/images/trophy-icon.svg" alt="" />
            <small>Open Plays</small>
          </div>
        </div>
        <div class="flex justify-start align-center mt-1">
          <div>
            <img src="assets/images/image-1.png" alt="" />
          </div>
          <div class="grey-box flex align-center justify-center flex-column">
            <img src="assets/images/partner-icon.svg" alt="" />
            <small>Tournaments</small>
          </div>
          <div>
            <img src="assets/images/image-3.png" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
