@import "../../../../assets/scss/abstracts/abstracts";
.logo{
  width: 10.4rem;
  height: 10.4rem;
}
.menu-img{
  width: 64rem;
  height: 50.4rem;
}
.panel{
  padding-top: 0rem;
}
.card-1{
  width: 44.8rem;
  height: 50.4rem;
  padding: 2.4rem;
  border: 0.2rem black dotted;
  border-radius: 2.4rem;
  position: relative;
  font-size: 4.8rem;
  color: white;
  .score-feed{
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    left:5%;

    h2{
      font-family:$font-bebas ;
      font-weight: 400;
      font-size: 8rem;
      line-height: 9.6rem;
      color: white;
    }
  }
}

.bg-img-1{
  background-image: url('../../../../assets/images/scorefeed-image.png');
  background-size: cover;
}
.bg-img-2{
  background-image: url('../../../../assets/images/highscore-image.png');
  background-size: cover;
}
.bg-img-3{
  background-image: url('../../../../assets/images/manager-image.png');
  background-size: cover;
}
.arrow-icon{
  width: 55.27px;
}
