<div class="panel">
  <div class="container">
    <div class="home-page">
      <div class="row justify-center align-center">
        <div class="col-md-6">
          <h1>We match <span>friends</span> against each other for the good</h1>
          <small>Come, match & play! together we say GG.</small>
          <div class="primary-btn-dark">
            <button type="button" class="btn">Login</button>
          </div>
        </div>
        <div class="col-md-6">
          <img src="../../../../../../assets/images/main-image.png" alt="" />
        </div>
      </div>
      <div class="row justify-between align-start home-page__play">
        <div class="col-md-6 PLR-0">
          <img src="../../../../../../assets/images/image-stack.png" alt="" />
        </div>
        <div class="col-md-6 PLR-0">
          <div>
            <h6>It’s better to play & grow together</h6>
            <p>
              Lorem ipsum dolor sit amet consectetur. Lacus molestie leo
              pulvinar tempor quis tortor. Proin non etiam etiam morbi sagittis
              sollicitudin elit ut nec. Faucibus enim accumsan eget commodo
              gravida. Neque quisque accumsan sapien nullam lacus gravida dolor.
              Mi sagittis massa sapien dignissim rutrum molestie lorem tortor
              ultricies.
            </p>
          </div>
          <div class="flex justify-end align-start">
            <div><b>1+</b><small>Years served</small></div>
            <div><b>10,000+</b><small>Games Smashed</small></div>
            <div><b>4000+</b><small>Members socialized</small></div>
          </div>
        </div>
      </div>
      <div class="home-page__slogan">
        <b>"We are here to serve it, smash it & socialize it!"</b>
      </div>
      <div class="home-page__step-section">
        <h6>Get your automated matching pairs in just 4 easy steps:</h6>
        <div class="row justify-center align-center">
          <div class="col-md-4">
            <div class="flex justify-center flex-column">
              <div class="font-round"><div>1</div></div>
              <b>Login</b>
              <small>Login into your account & get access.</small>
            </div>
            <div class="flex justify-center flex-column">
              <div class="font-round"><div>2</div></div>
              <b>Upload</b>
              <small
                >Upload file or upload data manually to get started with
                match.</small
              >
            </div>
          </div>
          <div class="col-md-4">
            <img
              src="../../../../../../assets/images/pickleball-court-image.png"
              alt=""
            />
          </div>
          <div class="col-md-4">
            <div class="flex justify-center flex-column">
              <div class="font-round"><div>3</div></div>
              <b>Change Formats</b>
              <small
                >You can change your format of the table like you want from the
                given to 2 formats & hit download PDF button.</small
              >
            </div>
            <div class="flex justify-center flex-column">
              <div class="font-round"><div>4</div></div>
              <b>Download & Play</b>
              <small
                >Once you download the PDF, you can write your score with on
                that sheet & compete with your friends.</small
              >
            </div>
          </div>
        </div>
      </div>
      <div class="home-page__box">
        <div class="flex justify-end align-center">
          <div class="grey-box flex align-center justify-center flex-column">
            <img src="../../../../../../assets/images/globe-icon.svg" alt="" />
            <small>25+ countries</small>
          </div>
          <div>
            <img src="../../../../../../assets/images/image-2.png" alt="" />
          </div>
          <div class="grey-box flex align-center justify-center flex-column">
            <img src="../../../../../../assets/images/trophy-icon.svg" alt="" />
            <small>5+ sports recognition</small>
          </div>
        </div>
        <div class="flex justify-start align-center mt-1">
          <div>
            <img src="../../../../../../assets/images/image-1.png" alt="" />
          </div>
          <div class="grey-box flex align-center justify-center flex-column">
            <img
              src="../../../../../../assets/images/partner-icon.svg"
              alt=""
            />
            <small>131+ partnered sports facilities</small>
          </div>
          <div>
            <img src="../../../../../../assets/images/image-3.png" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
