@import "../abstracts/abstracts";

* {
  font-family: $font-family;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  letter-spacing: unset !important;
}

html {
  -webkit-text-size-adjust: 100%;
  font-size: 10px;

  // @include respond("small-desktop") {
  //   font-size: 7px;
  // }

  // @include respond("regular-desktop") {
  //   font-size: 8px;
  // }

  // @include respond("tab-port") {
  //   font-size: 8.5px;
  // }

  // @include respond("phone") {
  //   font-size: 8px;
  // }

}

body {
  background-color: var(--white-color);
  overflow-y: auto;
  overflow-x: hidden !important;
  margin: 0;

  font: {
    size: 1.8rem;
    weight: 400;
  }
}

button,
a {
  cursor: pointer;
}

.text-right {
  text-align: right !important;
}

.text-center {
  text-align: center !important;
}

.cursor-text {
  cursor: text;
}

.align-top {
  vertical-align: top !important;
}

.align-middle {
  vertical-align: middle !important;
}

.display-inline {
  display: inline-block;
  vertical-align: top;
}

.width-100 {
  width: 100%;
}

.pt-1 {
  padding-top: 1.8rem !important;
}

.container {
  margin: 0 auto;
  width: 90%;

  @include respond("tab-port") {
    width: 95%;
  }
}

.search {
  .container {
    min-height: 600px;

    position: relative;
  }
}

.material-icons {
  font-family: "Material Icons" !important;
}

.material-icons-outline {
  font-family: "Material Icons Outlined" !important;
}

.flex {
  display: flex;
  align-items: center;
}

.justify-center {
  justify-content: center !important;
}

.justify-between {
  justify-content: space-between !important;
}

.justify-space-even {
  justify-content: space-evenly !important;
}

.justify-space-around {
  justify-content: space-around !important;
}

.justify-start {
  justify-content: flex-start !important;
}

.justify-start {
  justify-content: flex-end !important;
}

.align-start {
  align-items: flex-start !important;
}

.align-end {
  align-items: flex-end !important;
}

.align-center {
  align-items: center !important;
}

.flex-column {
  flex-direction: column !important;
}

.btn {
  font-size: 1.4rem;
  font-weight: 800;
  line-height: 1.6rem;
  padding: 1.2rem 2.4rem;
  border-radius: 10rem;
}

.primary-btn-dark {
  margin-right: 0.8rem;

  button {
    background-color: $primary-green;
    color: $white-color;
    border: none !important;
  }
}

// header scss 
.header {
  background-color: $primary-green;
  position: fixed;
  top: 0rem;
  left: 0rem;
  width: 100%;
  z-index: 2000;
  padding: 2rem 0rem;

  &__logo {
    width: 12%;

    img {
      width: 100%;
    }
  }

  span {
    margin-right: 3.2rem;

    a {
      color: $white-color;
      font-size: 1.6rem;
      font-weight: 800;
      line-height: 1.9rem;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .primary-btn {
    margin-right: 0.8rem;

    button {
      background-color: $white-color;
      border: none !important;
      color: $primary-green;

      &:hover {
        background-color: rgba($white-color, 0.85);
      }
    }
  }

  .secondary-btn {
    margin-right: 0.8rem;

    button {
      border: 1px solid rgba($white-color, 0.1);
      color: $white-color;
      background-color: transparent !important;

      &:hover {
        border: 1px solid rgba($white-color, 0.5) !important;
      }

      img {
        margin-left: 0.8rem;
      }
    }
  }
}

.panel {
  position: relative;
  width: 100%;
  padding-top: 8rem;
}

.upload {
  &__section {
    border: 2px dashed rgba($black-color, 0.1);
    padding: 4rem;
    margin-top: 4.7rem;
    border-radius: 1.2rem;

    b {
      color: rgba($black-color, 0.5);
      font-size: 1.4rem;
      font-weight: 800;
      line-height: 1.4rem;
    }

    small {
      color: rgba($black-color, 0.35);
      font-size: 1.4rem;
      font-weight: 600;
      line-height: 1.4rem;
    }

    .btn {
      background-color: $white-color !important;
      border: 1px solid rgba($black-color, 0.1);
      color: rgba($black-color, 0.5) !important;
      margin-top: 1.9rem;
    }
  }

  &__file-icon {
    background-color: rgba($primary-green, 0.1);
    height: 6.4rem;
    width: 6.4rem;
    border-radius: 10rem;
    margin-bottom: 1.6rem;
  }

  &__format-section {
    span {
      color: rgba($black-color, 0.25);
      font-size: 1.4rem;
      font-weight: 600;
      line-height: 1.6rem;
    }
  }

  &__file {
    background-color: rgba($black-color, 0.03);
    width: fit-content;
    padding: 1.6rem;
    border-radius: 0.8rem;
    margin-top: 4.7rem;

    .file-img {
      width: 12%;
      margin-right: 1.2rem;

      img {
        width: 100%;
      }
    }

    small {
      color: rgba($black-color, 0.5);
      font-size: 1.4rem;
      font-weight: 700;
      line-height: 1.4rem;
    }

    span {
      color: rgba($black-color, 0.3);
      display: block;
      font-size: 1.4rem;
      font-weight: 600;
      line-height: 1.4rem;
    }
  }

  &__button {
    margin-top: 4.7rem;

    .secondary-btn-light {
      button {
        background-color: $white-color !important;
        color: rgba($black-color, 0.25);
        border: 1px solid rgba($black-color, 0.1);
      }
    }
  }

  &__data {
    margin-top: 4.7rem;

    .player-panel {
      border-bottom: 1px solid rgba($black-color, 0.05);

      small {
        color: rgba($black-color, 0.5);
        font-size: 1.6rem;
        font-weight: 800;
        line-height: 1.9rem;
      }

      .btn {
        span {
          margin-right: 0.8rem;
        }
      }
    }

    .delete-icon {
      background-color: rgba($red-color, 0.1);
      height: 4.8rem;
      width: 4.8rem;
      border-radius: 0.8rem;
    }

    // .col-md-6 {
    //   flex: 0 0 48.2% !important;
    // }

    // .col-md-1 {
    //   flex: 0 0 2.7% !important;
    // }

    .primary-btn-dark {
      margin-right: 0rem !important;
    }

  }
}

.footer {
  background-color: rgba($black-color, 0.03);
  padding: 2rem 0rem;
  margin-top: 4.7rem;

  &__logo {
    width: 42%;

    a {
      padding-left: 0rem !important;

      img {
        width: 100%;
      }
    }
  }

  b {
    color: $primary-green;
    font-size: 2.8rem;
    font-weight: 800;
    line-height: 3.1rem;
    margin-top: 1.8rem !important;
  }

  a {
    color: rgba($black-color, 0.5);
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1.9rem;
    padding-left: 2.4rem;

    &:hover {
      color: $primary-green;
    }
  }

  .icon-square {
    padding-left: 1.2rem;

    div {
      background-color: rgba($black-color, 0.25);
      height: 2.8rem;
      width: 2.8rem;
      border-radius: 10rem;

      &:hover {
        background-color: $primary-green;
      }
    }
  }


  .sub-footer {
    border-top: 1px solid rgba($black-color, 0.05);
    margin-top: 1.8rem;
    padding-top: 1.6rem;

    small {
      color: rgba($black-color, 0.25);
      font-size: 1.4rem;
      font-weight: 500;
      line-height: 1.4rem;
      letter-spacing: 0.1rem !important;
    }

    a {
      color: rgba($black-color, 0.25);
      font-size: 1.4rem;
      font-weight: 500;
      line-height: 1.4rem;
      letter-spacing: 0.1rem !important;

      &:hover {
        color: $primary-green !important;
      }
    }
  }
}