<div class="modal">
  <div class="modal__header flex justify-between">
    <h6>Mark No-Show</h6>
    <div>
      <a (click)="close()"
        ><span><img src="assets/images/close-icon.svg" alt="" /></span
      ></a>
    </div>
  </div>
  <div class="modal__body">
    <div>
      <div class="mb-1">
        <b
          >Are you sure <span>{{playerName || 'Player'}}</span> is NOT available for round
          <span>{{roundCount}}</span> ?</b
        >
      </div>
      <div>
        <small
          >Upon confirmation, {{playerName || 'Player'}} will be excluded from round
          <span>{{roundCount}}</span> game fixtures.</small
        >
      </div>
    </div>
  </div>
  <div class="modal__footer">
    <div class="flex justify-end">
      <div class="secondary-btn-light mr-1">
        <button type="button" class="btn" (click)="close()">No</button>
      </div>
      <div class="primary-btn">
        <button type="button" class="btn" (click)="delete()">Yes</button>
      </div>
    </div>
  </div>
</div>
