<div>
  <div class="upload-by-file">
    <div class="upload">
      <div>
        <div
          class="upload__section flex justify-center flex-column"
          [class.is-dragging]="isDragging"
        >
          <div class="upload__file-icon flex justify-center">
            <img
              src="assets/images/browse-file-icon.svg"
              alt=""
            />
          </div>
          <div class="text-center">
            <div><b>Drag & drop files to upload here</b></div>
            <div>
              <small
                >You can upload any files related to us as long as its
                supported.</small
              >
            </div>
          </div>
          <div>
            <input
              type="file"
              #fileInput
              style="display: none"
              (change)="onFileSelect($event)"
              accept=".txt"
            />
            <div class="secondary-btn-light">
              <button type="button" class="btn" (click)="fileInput.click()">
                Browse
              </button>
            </div>
          </div>
        </div>
        <div class="upload__format-section flex justify-between">
          <div><span>File supported: TXT</span></div>
          <div><span>Maximum size: 40MB</span></div>
        </div>
      </div>

      <div class="upload__file flex justify-between" *ngFor="let file of files">
        <div class="flex justify-end align-start">
          <div class="file-img">
            <img
              src="assets/images/file-ext-icon.svg"
              alt=""
            />
          </div>
          <div>
            <small>{{ file.name }}</small
            ><span>({{ file.size / 1024 | number : "1.2-2" }}) KB</span>
          </div>
        </div>
        <div>
          <a (click)="onFileRemoved(file)">
            <img src="assets/images/close-icon.svg" alt=""/>
          </a>
        </div>
      </div>
      <div class="upload__button">
        <div class="primary-btn">
          <button [disabled]="!leagueIdPass || roundCount === undefined" type="button" class="btn" (click)="onUpload()">Upload</button>
        </div>
      </div>
    </div>
  </div>
</div>
