<!-- <div class="table-header flex justify-between">
  <div>
    <small>Summers Pickleball 2024</small>
  </div>
  <div>
    <span>Court 2</span><span class="border-1"></span><span>Week 1</span>
  </div>
  <div>
    <span>01/02/2024, Wednesday</span>
  </div>
</div> -->
<!-- <div>
  <div class="parent-table flex justify-center align-start">
    <div class="player-name flex justify-center align-start flex-column">
      <div class="cell">
        <span
          ><img
            src="../../../../../../assets/images/players-icon.svg"
            alt="" /></span
        >Players
      </div>
      <div *ngFor="let player of players" class="cell-1">
        <span
          ><img
            src="../../../../../../assets/images/serve-active-icon.svg"
            alt="" /></span
        >{{ player[1] }}
      </div>
    </div>
    <div class="player-game flex justify-end align-start">
      <div class="border-1" *ngFor="let game of games">
        <div class="flex justify-center align-center flex-column">
          <div class="cell">
            <span
              ><img src="../../../../../../assets/images/score-icon.svg" alt=""
            /></span>
            {{ game[0] }}
          </div>
          <div class="flex justify-space-even" *ngFor="let player of players">
            <div class="cell">
              <span *ngIf="game[1].team_1.includes(player[1])"
                ><img
                  src="../../../../../../assets/images/t1-player-icon.svg"
                  alt=""
              /></span>
              <span *ngIf="game[1].team_2.includes(player[1])"
                ><img
                  src="../../../../../../assets/images/t2-player-icon.svg"
                  alt=""
              /></span>
              <span *ngIf="game[1].bye.includes(player[1])"
                ><img
                  src="../../../../../../assets/images/bye-player-icon.svg"
                  alt=""
              /></span>
            </div>
            <div class="cell">50</div>
          </div>
        </div>
      </div>
      <div class="flex justify-center flex-column">
        <div class="cell">
          <span
            ><img src="../../../../../../assets/images/match-icon.svg" alt=""
          /></span>
          Total
        </div>
        <div class="flex justify-center flex-column">
          <div class="cell flex justify-center">20</div>
          <div class="cell flex justify-center">20</div>
          <div class="cell flex justify-center">20</div>
          <div class="cell flex justify-center">20</div>
          <div class="cell flex justify-center">20</div>
        </div>
      </div>
    </div>
  </div>
</div> -->
<!-- <div class="table-footer flex justify-between">
  <div>
    <span><img src="../../../../../../assets/images/e-logo.png" alt="" /></span
    ><span>Game to 15, Win by 1</span>
  </div>
  <div class="flex justify-start">
    <div>
      <span
        ><img
          src="../../../../../../assets/images/serve-icon.svg"
          alt="" /></span
      ><small>Serves</small>
    </div>
    <div>
      <span
        ><img
          src="../../../../../../assets/images/serve-icon.svg"
          alt="" /></span
      ><small class="green-font">Returns</small>
    </div>
    <div>
      <span
        ><img
          src="../../../../../../assets/images/serve-icon.svg"
          alt="" /></span
      ><small class="red-font">Bye</small>
    </div>
  </div>
</div> -->

<!-- static div table -->
<!-- <div>
  <div class="parent-table flex justify-center align-start">
    <div class="player-name flex justify-center align-start flex-column">
      <div class="parent-cell">Players</div>
      <div class="cell">Skylar Mango</div>
      <div class="cell">Skylar Mango</div>
      <div class="cell">Skylar Mango</div>
      <div class="cell">Skylar Mango</div>
      <div class="cell">Skylar Mango</div>
    </div>
    <div class="player-game flex justify-end align-start">
      <div class="border-1">
        <div class="flex justify-center align-center flex-column">
          <div class="parent-cell">Game 1</div>
          <div class="parent-cell">Game 2</div>
          <div class="parent-cell">Game 3</div>
          <div class="parent-cell">Game 4</div>
          <div class="parent-cell">Game 5</div>
          <div class="flex justify-space-even">
            <div class="cell">
              <span
                ><img
                  src="../../../../../../assets/images/t1-player-icon.svg"
                  alt=""
              /></span>
              <span
                ><img
                  src="../../../../../../assets/images/t2-player-icon.svg"
                  alt=""
              /></span>
              <span
                ><img
                  src="../../../../../../assets/images/bye-player-icon.svg"
                  alt=""
              /></span>
            </div>
            <div class="cell">50</div>
          </div>
        </div>
      </div>
      <div class="parent-cell flex justify-center flex-column">Total</div>
      <div class="flex justify-center flex-column">
        <div class="cell flex justify-center">20</div>
        <div class="cell flex justify-center">20</div>
        <div class="cell flex justify-center">20</div>
        <div class="cell flex justify-center">20</div>
        <div class="cell flex justify-center">20</div>
      </div>
    </div>
  </div>
</div>
<div class="table-footer flex justify-between">
  <div>
    <span><img src="../../../../../../assets/images/e-logo.png" alt="" /></span
    ><span>Game to 15, Win by 1</span>
  </div>
  <div class="flex justify-start">
    <div>
      <span
        ><img
          src="../../../../../../assets/images/serve-icon.svg"
          alt="" /></span
      ><small>Serves</small>
    </div>
    <div>
      <span
        ><img
          src="../../../../../../assets/images/serve-icon.svg"
          alt="" /></span
      ><small class="green-font">Returns</small>
    </div>
    <div>
      <span
        ><img
          src="../../../../../../assets/images/serve-icon.svg"
          alt="" /></span
      ><small class="red-font">Bye</small>
    </div>
  </div>
</div> -->

<!-- static HTML  -->
<table class="table-1">
  <thead>
    <tr>
      <th>Players</th>
      <th colspan="2">Game 1</th>
      <th colspan="2">Game 2</th>
      <th colspan="2">Game 3</th>
      <th colspan="2">Game 4</th>
      <th colspan="2">Game 5</th>
      <th>Total</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Skylar Mango</td>
      <td class="text-center border-right">
        <img
          src="../../../../../../assets/images/serve-active-icon.svg"
          alt=""
        />
      </td>
      <td class="text-center">
        <div><input type="text" placeholder="Enter" /></div>
      </td>
      <td class="text-center border-right">
        <img
          src="../../../../../../assets/images/bye-default-icon.svg"
          alt=""
        />
      </td>
      <td class="text-center">
        <div><input type="text" placeholder="Enter" /></div>
      </td>
      <td class="text-center border-right">
        <img
          src="../../../../../../assets/images/receive-inactive-icon.svg"
          alt=""
        />
      </td>
      <td class="text-center">
        <div><input type="text" placeholder="Enter" /></div>
      </td>
      <td class="text-center border-right">
        <img
          src="../../../../../../assets/images/receive-inactive-icon.svg"
          alt=""
        />
      </td>
      <td class="text-center">
        <div><input type="text" placeholder="Enter" /></div>
      </td>
      <td class="text-center border-right">
        <img
          src="../../../../../../assets/images/serve-active-icon.svg"
          alt=""
        />
      </td>
      <td class="text-center">
        <div><input type="text" placeholder="Enter" /></div>
      </td>
      <td class="text-center">
        <div><input type="text" placeholder="Enter" /></div>
      </td>
    </tr>
    <tr>
      <td>Adison Carder</td>
      <td class="text-center border-right">
        <img
          src="../../../../../../assets/images/serve-inactive-icon.svg"
          alt=""
        />
      </td>
      <td class="text-center">
        <div><input type="text" placeholder="Enter" /></div>
      </td>
      <td class="text-center border-right">
        <img
          src="../../../../../../assets/images/serve-inactive-icon.svg"
          alt=""
        />
      </td>
      <td class="text-center">
        <div><input type="text" placeholder="Enter" /></div>
      </td>
      <td class="text-center border-right">
        <img
          src="../../../../../../assets/images/bye-default-icon.svg"
          alt=""
        />
      </td>
      <td class="text-center">
        <div><input type="text" placeholder="Enter" /></div>
      </td>
      <td class="text-center border-right">
        <img
          src="../../../../../../assets/images/receive-active-icon.svg"
          alt=""
        />
      </td>
      <td class="text-center">
        <div><input type="text" placeholder="Enter" /></div>
      </td>
      <td class="text-center border-right">
        <img
          src="../../../../../../assets/images/receive-inactive-icon.svg"
          alt=""
        />
      </td>
      <td class="text-center">
        <div><input type="text" placeholder="Enter" /></div>
      </td>
      <td class="text-center">
        <div><input type="text" placeholder="Enter" /></div>
      </td>
    </tr>
    <tr>
      <td>Giana Curtis</td>
      <td class="text-center border-right">
        <img
          src="../../../../../../assets/images/receive-active-icon.svg"
          alt=""
        />
      </td>
      <td class="text-center">
        <div><input type="text" placeholder="Enter" /></div>
      </td>
      <td class="text-center border-right">
        <img
          src="../../../../../../assets/images/serve-active-icon.svg"
          alt=""
        />
      </td>
      <td class="text-center">
        <div><input type="text" placeholder="Enter" /></div>
      </td>
      <td class="text-center border-right">
        <img
          src="../../../../../../assets/images/serve-inactive-icon.svg"
          alt=""
        />
      </td>
      <td class="text-center">
        <div><input type="text" placeholder="Enter" /></div>
      </td>
      <td class="text-center border-right">
        <img
          src="../../../../../../assets/images/bye-default-icon.svg"
          alt=""
        />
      </td>
      <td class="text-center">
        <div><input type="text" placeholder="Enter" /></div>
      </td>
      <td class="text-center border-right">
        <img
          src="../../../../../../assets/images/receive-active-icon.svg"
          alt=""
        />
      </td>
      <td class="text-center">
        <div><input type="text" placeholder="Enter" /></div>
      </td>
      <td class="text-center">
        <div><input type="text" placeholder="Enter" /></div>
      </td>
    </tr>
    <tr>
      <td>Haylie Torff</td>
      <td class="text-center border-right">
        <img
          src="../../../../../../assets/images/receive-inactive-icon.svg"
          alt=""
        />
      </td>
      <td class="text-center">
        <div><input type="text" placeholder="Enter" /></div>
      </td>
      <td class="text-center border-right">
        <img
          src="../../../../../../assets/images/receive-inactive-icon.svg"
          alt=""
        />
      </td>
      <td class="text-center">
        <div><input type="text" placeholder="Enter" /></div>
      </td>
      <td class="text-center border-right">
        <img
          src="../../../../../../assets/images/serve-active-icon.svg"
          alt=""
        />
      </td>
      <td class="text-center">
        <div><input type="text" placeholder="Enter" /></div>
      </td>
      <td class="text-center border-right">
        <img
          src="../../../../../../assets/images/serve-active-icon.svg"
          alt=""
        />
      </td>
      <td class="text-center">
        <div><input type="text" placeholder="Enter" /></div>
      </td>
      <td class="text-center border-right">
        <img
          src="../../../../../../assets/images/bye-default-icon.svg"
          alt=""
        />
      </td>
      <td class="text-center">
        <div><input type="text" placeholder="Enter" /></div>
      </td>
      <td class="text-center">
        <div><input type="text" placeholder="Enter" /></div>
      </td>
    </tr>
    <tr>
      <td>Marley Ekstrom Bothman</td>
      <td class="text-center border-right">
        <img
          src="../../../../../../assets/images/bye-default-icon.svg"
          alt=""
        />
      </td>
      <td class="text-center">
        <div><input type="text" placeholder="Enter" /></div>
      </td>
      <td class="text-center border-right">
        <img
          src="../../../../../../assets/images/receive-active-icon.svg"
          alt=""
        />
      </td>
      <td class="text-center">
        <div><input type="text" placeholder="Enter" /></div>
      </td>
      <td class="text-center border-right">
        <img
          src="../../../../../../assets/images/receive-active-icon.svg"
          alt=""
        />
      </td>
      <td class="text-center">
        <div><input type="text" placeholder="Enter" /></div>
      </td>
      <td class="text-center border-right">
        <img
          src="../../../../../../assets/images/serve-inactive-icon.svg"
          alt=""
        />
      </td>
      <td class="text-center">
        <div><input type="text" placeholder="Enter" /></div>
      </td>
      <td class="text-center border-right">
        <img
          src="../../../../../../assets/images/serve-inactive-icon.svg"
          alt=""
        />
      </td>
      <td class="text-center">
        <div><input type="text" placeholder="Enter" /></div>
      </td>
      <td class="text-center">
        <div><input type="text" placeholder="Enter" /></div>
      </td>
    </tr>
  </tbody>
</table>
<div class="table-footer flex justify-between">
  <div>
    <span><img src="../../../../../../assets/images/e-logo.png" alt="" /></span
    ><span>Game to 15, Win by 1</span>
  </div>
  <div class="flex justify-start">
    <div>
      <span
        ><img
          src="../../../../../../assets/images/serve-active-icon.svg"
          alt="" /></span
      ><small>Serves</small>
    </div>
    <div>
      <span
        ><img
          src="../../../../../../assets/images/receive-active-icon.svg"
          alt="" /></span
      ><small class="green-font">Returns</small>
    </div>
    <div>
      <span
        ><img
          src="../../../../../../assets/images/bye-default-icon.svg"
          alt="" /></span
      ><small class="red-font">Bye</small>
    </div>
  </div>
</div>
