<div class="panel">
    <div class="container">

        <mat-form-field>
            <mat-select (selectionChange)="getAllClubs($event.value)">
              <mat-option *ngFor="let company of companies | keyvalue" [value]="company.key">
                {{company.value.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <mat-select>
              <mat-option *ngFor="let club of clubs | keyvalue" [value]="club.key">
                {{club.value.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          
    </div>
</div>
