<div class="panel">
  <div class="container completed-leagues">
    <div class="flex justify-between align-end">
      <div class="flex justify-end align-center">
        <div class="mr-1">
          <div><label>Company</label></div>
          <mat-form-field>
            <mat-select>
              <mat-option value="1">APL</mat-option>
              <mat-option value="2">APL</mat-option>
              <mat-option value="3">APL</mat-option>
              <mat-option value="4">APL</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="mr-1">
          <div><label>Club</label></div>
          <mat-form-field>
            <mat-select>
              <mat-option value="5">5</mat-option>
              <mat-option value="10">10</mat-option>
              <mat-option value="15">15</mat-option>
              <mat-option value="20">20</mat-option>
              <mat-option value="25">25</mat-option>
              <mat-option value="30">30</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div>
          <div><label>League</label></div>
          <mat-form-field>
            <mat-select>
              <mat-option value="5">5</mat-option>
              <mat-option value="10">10</mat-option>
              <mat-option value="15">15</mat-option>
              <mat-option value="20">20</mat-option>
              <mat-option value="25">25</mat-option>
              <mat-option value="30">30</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="primary-btn">
        <button type="button" class="btn flex justify-center">
          <span
            ><img
              src="../../../../../../assets/images/view-score-icon.svg"
              alt="" /></span
          >View Score
        </button>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <div class="round-box disabled mr-2">
          <div class="flex justify-between mb-1">
            <div><b>Round 1</b></div>
            <div class="red-btn">
              <button type="button" class="btn-sm flex justify-center">
                <span
                  ><img
                    src="../../../../../../assets/images/red-lock-icon.svg"
                    alt="" /></span
                >Locked
              </button>
            </div>
          </div>
          <div class="red-btn">
            <button type="button" class="btn flex justify-center">
              <span
                ><img
                  src="../../../../../../assets/images/red-icon-lock-second.svg"
                  alt="" /></span
              >Lock Score
            </button>
          </div>
          <div class="primary-btn">
            <button type="button" class="btn flex justify-center">
              <span
                ><img
                  src="../../../../../../assets/images/white-edit-icon.svg"
                  alt="" /></span
              >Edit Score
            </button>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="round-box disabled mr-2">
          <div class="flex justify-between mb-1">
            <div><b>Round 2</b></div>
            <div class="red-btn">
              <button type="button" class="btn-sm flex justify-center">
                <span
                  ><img
                    src="../../../../../../assets/images/red-lock-icon.svg"
                    alt="" /></span
                >Locked
              </button>
            </div>
          </div>
          <div class="red-btn">
            <button type="button" class="btn flex justify-center">
              <span
                ><img
                  src="../../../../../../assets/images/red-icon-lock-second.svg"
                  alt="" /></span
              >Lock Score
            </button>
          </div>
          <div class="primary-btn">
            <button type="button" class="btn flex justify-center">
              <span
                ><img
                  src="../../../../../../assets/images/white-edit-icon.svg"
                  alt="" /></span
              >Edit Score
            </button>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="round-box disabled mr-2">
          <div class="flex justify-between mb-1">
            <div><b>Round 3</b></div>
            <div class="red-btn">
              <button type="button" class="btn-sm flex justify-center">
                <span
                  ><img
                    src="../../../../../../assets/images/red-lock-icon.svg"
                    alt="" /></span
                >Locked
              </button>
            </div>
          </div>
          <div class="red-btn">
            <button type="button" class="btn flex justify-center">
              <span
                ><img
                  src="../../../../../../assets/images/red-icon-lock-second.svg"
                  alt="" /></span
              >Lock Score
            </button>
          </div>
          <div class="primary-btn">
            <button type="button" class="btn flex justify-center">
              <span
                ><img
                  src="../../../../../../assets/images/white-edit-icon.svg"
                  alt="" /></span
              >Edit Score
            </button>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="round-box">
          <div class="flex justify-between mb-1">
            <div><b>Round 4</b></div>
          </div>
          <div class="secondary-btn-light">
            <button type="button" class="btn flex justify-center">
              <span
                ><img
                  src="../../../../../../assets/images/lock-icon.svg"
                  alt="" /></span
              >Lock Score
            </button>
          </div>
          <div class="primary-btn">
            <button type="button" class="btn flex justify-center">
              <span
                ><img
                  src="../../../../../../assets/images/white-edit-icon.svg"
                  alt="" /></span
              >Edit Score
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <mat-form-field>
      <mat-select (selectionChange)="getAllClubs($event.value)">
        <mat-option
          *ngFor="let company of companies | keyvalue"
          [value]="company.key"
        >
          {{ company.value.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-select>
        <mat-option *ngFor="let club of clubs | keyvalue" [value]="club.key">
          {{ club.value.name }}
        </mat-option>
      </mat-select>
    </mat-form-field> -->
