<div class="panel">
  <div class="container">
    <div class="create-league">
      <div class="league-title">
        <div class="row">
          <div class="col-md-6"></div>
          <div class="col-md-6 PLR-0">
            <div class="primary-btn display-right">
              <button
                type="button"
                class="btn flex justify-center"
                (click)="openDialogue()"
              >
                <span><img src="assets/images/add-icon.svg" alt="" /></span>Add
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="overflow">
        <table
          class="table-2"
          matSort
          (matSortChange)="sortData($event)"
          matSortDisableClear
        >
          <thead>
            <tr>
              <th width="7%"># Sr No.</th>
              <th width="28%" mat-sort-header="name">Name</th>
              <th width="9%">Last Round</th>
              <th width="17%" mat-sort-header="schedule">Schedule</th>
              <th width="8%" mat-sort-header="duprRec">Dupr Rec.</th>
              <th width="8%" mat-sort-header="type">Type</th>
              <th width="9%" mat-sort-header="doubles">Doubles</th>
              <th width="9%" mat-sort-header="active">Active</th>
              <th width="5%">Edit</th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="let league of sortedLeague; let i = index"
              [ngClass]="{ 'grey-row': !league.active }"
            >
              <td>{{ i + 1 }}</td>
              <td>{{ league.name }}</td>
              <td>{{ league.last_round_id }}</td>
              <td class="text-left">
                {{ league.start_date | date : "MM/dd/yyyy" }} -
                {{ league.end_date | date : "MM/dd/yyyy" }}
              </td>
              <td class="text-left">
                {{ league.dupr_recorded ? "Yes" : "No" }}
              </td>
              <td class="text-left">
                {{ league.type.charAt(0).toUpperCase() + league.type.slice(1) }}
              </td>
              <td class="text-left">{{ league.doubles ? "Yes" : "No" }}</td>
              <td class="text-left">{{ league.active ? "Yes" : "No" }}</td>
              <td>
                <a (click)="openDialogue(league.id)">
                  <img src="assets/images/edit-icon.svg" alt="" />
                </a>
                <!-- <a>
                  <img src="assets/images/delete-icon.svg" alt="" />
                </a> -->
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
