<div class="panel">
  <div class="container">
    <div class="create-league">
      <div class="league-title">

        <div class="row">
          <div class="col-md-6">
            <div>
              <h6>LADDER-3-3.5-MON7PM-SEASON1</h6>
            </div>
            <div class="flex justify-end">
              <div class="flex mr-1">
                <span
                  ><img
                    src="../../../../../../assets/images/club-icon.svg"
                    alt="" /></span
                ><small>LFTM-CROSSTOWN</small>
              </div>
              <div class="flex mr-1">
                <span
                  ><img
                    src="../../../../../../assets/images/company-icon.svg"
                    alt="" /></span
                ><small>Drop Shot Pickleball</small>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="primary-btn display-right">
              <button type="button" class="btn flex justify-center" (click)="openDialogue()">
                <span
                  ><img
                    src="../../../../../../assets/images/add-icon.svg"
                    alt="" /></span
                >Add
              </button>
            </div>
          </div>
        </div>
      </div>

      <table class="table-2">
        <thead>
          <tr>
            <th># Sr No.</th>
            <th>Name</th>
            <th>Date</th>
            <th>Dupr Rec.</th>
            <th>Type</th>
            <th>Doubles</th>
            <th>Rounds/day</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let league of leagues; index as i">
            <td>{{i + 1}}</td>
            <td>{{league.name}}</td>
            <td>{{league.start_date}} - {{league.end_date}}</td>
            <td>{{league.dupr_recorded ? 'Yes' : 'No'}}</td>
            <td>{{league.type.charAt(0).toUpperCase() + league.type.slice(1)}}</td>
            <td>{{league.doubles ? 'Yes' : 'No'}}</td>
            <td>{{league.rounds_per_day}}</td>
            <td>
              <a (click)="openDialogue()">
                <img src="../../../../../../assets/images/edit-icon.svg" alt="" />
              </a>
              <a>
                <img src="../../../../../../assets/images/delete-icon.svg" alt="" />
              </a>
            </td>
          </tr>
        </tbody>

        
        
</table>
    </div>
  </div>
</div>
