<div class="panel">
  <div class="container">
    <div class="create-league">
      <div class="row player-panel align-center justify-between">
        <div class="col-md-6 PL-0">
          <small>Leagues</small>
        </div>
        <div class="col-md-6 PR-0">
          <div class="flex justify-start align-start">
            <div class="primary-btn">
              <button class="btn flex justify-center">
                <span
                  ><img
                    src="../../../../../../assets/images/add-icon.svg"
                    alt="" /></span
                >Add
              </button>
            </div>
          </div>
        </div>
      </div>

      <table>
        <thead>
          <tr>
            <th># Sr No.</th>
            <th>
              <span
                ><img
                  src="../../../../../../assets/images/league-icon.svg"
                  alt="" /></span
              >League
            </th>
            <th>
              <span
                ><img
                  src="../../../../../../assets/images/company-icon.svg"
                  alt="" /></span
              >Company
            </th>
            <th>
              <span
                ><img
                  src="../../../../../../assets/images/club-icon.svg"
                  alt="" /></span
              >Club
            </th>
            <th>
              <span
                ><img
                  src="../../../../../../assets/images/action-icon.svg"
                  alt="" /></span
              >Action
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>LADDER-3-3.5-MON7PM-SEASON1</td>
            <td>Drop Shot Pickleball</td>
            <td>LFTM-BN</td>
            <td>
              <a
                ><img
                  src="../../../../../../assets/images/edit-icon.svg"
                  alt=""
              /></a>
              <a
                ><img
                  src="../../../../../../assets/images/delete-icon.svg"
                  alt=""
              /></a>
            </td>
          </tr>
          <tr>
            <td>2</td>
            <td>LADDER-3-3.5-MON7PM-SEASON1</td>
            <td>Drop Shot Pickleball</td>
            <td>LFTM-BN</td>
            <td>
              <a
                ><img
                  src="../../../../../../assets/images/edit-icon.svg"
                  alt=""
              /></a>
              <a
                ><img
                  src="../../../../../../assets/images/delete-icon.svg"
                  alt=""
              /></a>
            </td>
          </tr>
          <tr>
            <td>3</td>
            <td>LADDER-3-3.5-MON7PM-SEASON1</td>
            <td>Drop Shot Pickleball</td>
            <td>LFTM-BN</td>
            <td>
              <a
                ><img
                  src="../../../../../../assets/images/edit-icon.svg"
                  alt=""
              /></a>
              <a
                ><img
                  src="../../../../../../assets/images/delete-icon.svg"
                  alt=""
              /></a>
            </td>
          </tr>
          <tr>
            <td>4</td>
            <td>LADDER-3-3.5-MON7PM-SEASON1</td>
            <td>Drop Shot Pickleball</td>
            <td>LFTM-BN</td>
            <td>
              <a
                ><img
                  src="../../../../../../assets/images/edit-icon.svg"
                  alt=""
              /></a>
              <a
                ><img
                  src="../../../../../../assets/images/delete-icon.svg"
                  alt=""
              /></a>
            </td>
          </tr>
          <tr>
            <td>5</td>
            <td>LADDER-3-3.5-MON7PM-SEASON1</td>
            <td>Drop Shot Pickleball</td>
            <td>LFTM-BN</td>
            <td>
              <a
                ><img
                  src="../../../../../../assets/images/edit-icon.svg"
                  alt=""
              /></a>
              <a
                ><img
                  src="../../../../../../assets/images/delete-icon.svg"
                  alt=""
              /></a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
