<div class="panel">
  <div class="container">
    <div class="about-us">
      <div>
        <h6>What is eleagueonline?</h6>
        <p>
          At eleagueonline, we believe that gaming is not just a hobby; it's a
          vibrant community of passionate individuals who share a common love
          for immersive experiences, epic adventures, and the thrill of
          competition. Our community is the heart of what we do, and we're
          thrilled to have you on board! At eleagueonline, we believe that
          gaming is not just a hobby; it's a vibrant community of passionate
          individuals who share a common love for immersive experiences, epic
          adventures, and the thrill of competition. Our community is the heart
          of what we do, and we're thrilled to have you on board! At eleague
          online, we believe that gaming is not just a hobby; it's a vibrant
          community of passionate individuals who share a common love for
          immersive experiences, epic adventures, and the thrill of competition.
          Our community is the heart of what we do, and we're thrilled to have
          you on board!
        </p>
      </div>
      <div>
        <h6>Community Connects</h6>
        <p>
          Lorem ipsum dolor sit amet consectetur. Lacus molestie leo pulvinar
          tempor quis tortor. Proin non etiam etiam morbi sagittis sollicitudin
          elit ut nec. Faucibus enim accumsan eget commodo gravida. Neque
          quisque accumsan sapien nullam lacus gravida dolor. Mi sagittis massa
          sapien dignissim rutrum molestie lorem tortor ultricies. Nunc integer
          iaculis odio adipiscing pretium lectus. Posuere sed egestas tincidunt
          at lacus tincidunt. Rhoncus pretium in pharetra sed cras id. Pretium
          sit dignissim volutpat habitant eu. Venenatis urna aliquam elementum
          morbi quis blandit. Egestas pretium blandit ut fringilla varius.
          Congue vitae non tortor a lacinia vestibulum nunc.
        </p>
      </div>
      <div>
        <h6>Advanced Product to users</h6>
        <p>
          Lorem ipsum dolor sit amet consectetur. Lacus molestie leo pulvinar
          tempor quis tortor. Proin non etiam etiam morbi sagittis sollicitudin
          elit ut nec. Faucibus enim accumsan eget commodo gravida. Neque
          quisque accumsan sapien nullam lacus gravida dolor. Mi sagittis massa
          sapien dignissim rutrum molestie lorem tortor ultricies. Nunc integer
          iaculis odio adipiscing pretium lectus. Posuere sed egestas tincidunt
          at lacus tincidunt. Rhoncus pretium in pharetra sed cras id. Pretium
          sit dignissim volutpat habitant eu. Venenatis urna aliquam elementum
          morbi quis blandit. Egestas pretium blandit ut fringilla varius.
          Congue vitae non tortor a lacinia vestibulum nunc.
        </p>
      </div>
      <div>
        <h6>Click, Fill & Receive</h6>
        <p>
          Lorem ipsum dolor sit amet consectetur. Lacus molestie leo pulvinar
          tempor quis tortor. Proin non etiam etiam morbi sagittis sollicitudin
          elit ut nec. Faucibus enim accumsan eget commodo gravida. Neque
          quisque accumsan sapien nullam lacus gravida dolor. Mi sagittis massa
          sapien dignissim rutrum molestie lorem tortor ultricies. Nunc integer
          iaculis odio adipiscing pretium lectus. Posuere sed egestas tincidunt
          at lacus tincidunt. Rhoncus pretium in pharetra sed cras id. Pretium
          sit dignissim volutpat habitant eu. Venenatis urna aliquam elementum
          morbi quis blandit.
        </p>
      </div>
    </div>
  </div>
</div>
