<div class="sidenav-visible">
  <ul>
    <li>
      <div class="flex justify-end">
        <div>
          <img
            src="../../../../assets/images/header-club-blue-icon.svg"
            alt=""
            class="mr-1"
          />
        </div>
        <div>
          <b>{{clubName}}</b>
        </div>
      </div>
    </li>
    <li>
      <span
        ><a
          [routerLink]="leagueList"
          routerLinkActive="active"
          (click)="onCloseSidebar()"
          >Leagues</a
        ></span
      >
    </li>
    <li>
      <span
        ><a
          [routerLink]="buildLeagueUrl"
          routerLinkActive="active"
          (click)="onCloseSidebar()"
          >Build Round</a
        ></span
      >
    </li>
    <li>
      <span
        ><a
          [routerLink]="completedLeague"
          routerLinkActive="active"
          (click)="onCloseSidebar()"
          >Scoreboard</a
        ></span
      >
    </li>
    <li></li>
  </ul>
</div>
