// header scss 
@import "../../../../assets/scss/abstracts/abstracts";

.header {
  background: $header-color;
  position: fixed;
  top: 0rem;
  left: 0rem;
  width: 100%;
  z-index: 13;
  padding: 1.5rem 0rem;

  &__logo {
    width: 18rem;

    img {
      width: 100%;
    }
  }

  span {
    margin-right: 3.2rem;

    a {
      color: rgba($white-color, 0.5);
      font-size: 1.6rem;
      line-height: 1.9rem;

      &.active {
        color: white;
      }

      &:hover {
        color: $white-color;
      }
    }

    @include respond("tab-port") {
      &:last-child {
        margin-right: 0rem;
      }

      margin-right: 1.2rem;
    }

    @include respond("phone") {
      display: none !important;
    }
  }

  .secondary-btn {
    margin-right: 0rem;
  }

  b {
    color: $white-color;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.8rem;
    margin-right: 1.6rem;

    @include respond("tab-port") {
      margin-right: 0.8rem;
    }
  }

  .mr-1 {
    margin-left: 1rem !important;

    @include respond("tab-port") {
      margin-left: 0rem !important;
      margin-right: 0.8rem !important;
    }
  }
}


@include respond("phone") {
  .header {
    .container {
      .align-center {
        display: none;
      }
    }
  }
}

.toggle-btn {
  display: none;

  @include respond("phone") {
    color: $white-color;
    display: block;
    margin-right: 1.5rem;
  }
}

.secondary-btn {
  button {
    @include respond("tab-port") {
      padding: 0.6rem !important;
    }
  }
}

.welcome-text {
  margin-right: 0 !important;
}