// header scss 
@import "../../../../assets/scss/abstracts/abstracts";

.header {
  background: $header-color;
  position: fixed;
  top: 0rem;
  left: 0rem;
  width: 100%;
  z-index: 13;
  padding: 2rem 0rem;

  &__logo {
    width: 12%;

    img {
      width: 100%;
    }
  }

  span {
    margin-right: 3.2rem;

    a {
      color: rgba($white-color, 0.5);
      font-size: 1.6rem;
      line-height: 1.9rem;

      &.active {
        color: white;
      }

      &:hover {
        color: $white-color;
      }
    }
  }

  .secondary-btn {
    margin-right: 0rem;
  }

  b {
    color: $white-color;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.8rem;
    margin-right: 1.6rem;
  }

  .mr-1 {
    margin-left: 1rem !important;
  }
}