<div class="header">
  <div class="container">
    <div class="flex justify-between">
      <div class="header__logo">
        <a [routerLink]="homePageUrl">
          <img src="../../../../assets/images/e-league-online-white-logo.png" alt="" />
        </a>
      </div>
      <div *ngIf="isLoggedIn">
        <span><a [routerLink]="buildLeagueUrl" routerLinkActive="active">Build Round</a></span>
        <span><a [routerLink]="completedLeague" routerLinkActive="active">Completed Leagues</a></span>
        <span><a [routerLink]="leagueList" routerLinkActive="active">Leagues</a></span>
      </div>
      <div class="flex justify-center">
        <div *ngIf="!isLoggedIn">
          <a [routerLink]="loginUrl">
            <div class="primary-btn-light">
              <button type="button" class="btn">Log in</button>
            </div>
          </a>
        </div>
        <div class="secondary-btn" *ngIf="isLoggedIn">
          <button type="button" class="flex justify-center btn" (click)="onLogout()">
            Log out
            <div class="flex justify-center">
              <img src="../../../../assets/images/log-out-icon.svg" alt="" />
            </div>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>