<div class="header">
  <div class="container">
    <div class="flex justify-between">
      <div class="header__logo">
        <a routerLink="/home-page">
          <img
            src="../../../../assets/images/e-league-online-white-logo.png"
            alt=""
          />
        </a>
      </div>
      <div>
        <span
          ><a routerLink="/upload-player-container">Generate League</a></span
        >
        <span><a routerLink="/about-us-page">About us</a></span>
        <span><a routerLink="/contact-us-page">Contact us</a></span>
      </div>
      <div class="flex justify-center">
        <div class="secondary-btn">
          <button type="button" class="btn">Log in</button>
        </div>
        <div class="primary-btn">
          <button type="button" class="btn">Sign up</button>
        </div>
        <div class="secondary-btn">
          <button type="button" class="flex justify-center btn">
            Log out
            <div class="flex justify-center">
              <img src="../../../../assets/images/log-out-icon.svg" alt="" />
            </div>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
