<div class="header">
  <div class="container">
    <div class="flex justify-between">
      <div class="flex justify-end">
        <div *ngIf="isLoggedIn">
          <!-- <button mat-icon-button (click)="collapsed.set(!collapsed())"> -->
          <button
            mat-icon-button
            (click)="toggleClick.emit($event)"
            class="toggle-btn"
          >
            <mat-icon>menu</mat-icon>
          </button>
        </div>
        <div class="header__logo">
          <a [routerLink]="homePageUrl">
            <img
              src="../../../../assets/images/e-league-online-white-logo.png"
              alt=""
            />
          </a>
        </div>
      </div>
      <div *ngIf="isLoggedIn">
        <span
          ><a [routerLink]="leagueList" routerLinkActive="active"
            >Leagues</a
          ></span
        >
        <span
          ><a [routerLink]="buildLeagueUrl" routerLinkActive="active"
            >Build Round</a
          ></span
        >
        <span
          ><a [routerLink]="completedLeague" routerLinkActive="active"
            >Scoreboard</a
          ></span
        >
      </div>
      <div class="flex justify-center" *ngIf="isLoggedIn">
        <div class="flex align-center justify-center">
          <div>
            <img src="assets/images/club iocn.svg" alt="" class="mr-1" />
          </div>
          <div>
            <b>{{ clubName }}</b>
          </div>
        </div>
        <div *ngIf="!isLoggedIn">
          <a [routerLink]="loginUrl">
            <div class="primary-btn-light">
              <button type="button" class="btn">Log in</button>
            </div>
          </a>
        </div>
        <div class="secondary-btn" *ngIf="isLoggedIn">
          <button
            type="button"
            class="flex justify-center btn"
            (click)="onLogout()"
          >
            <b>Welcome, {{ userName }}!</b>
            <div class="flex justify-center">
              <img src="../../../../assets/images/log-out-icon.svg" alt="" />
            </div>
          </button>
        </div>
        <!-- <div *ngIf="isLoggedIn">
          <button mat-icon-button (click)="collapsed.set(!collapsed())">
            <mat-icon>menu</mat-icon>
          </button>
        </div> -->
      </div>
      <div class="flex justify-center" *ngIf="!isLoggedIn">
        <div class="primary-btn-light">
          <button type="button" (click)="openDialogue()" class="btn">
            Sign up
          </button>
        </div>
        <div class="primary-btn-light">
          <button type="button" class="btn" [routerLink]="loginUrl">
            Log in
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
