<div>
    <div id="print">
        <div>
            <table>
                <thead>
                    <tr>
                        <th>Match</th>
                        <th colspan="2">Players</th>
                        <th>Score</th>
                        <th>Bye</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let game of data.data">
                        <td rowspan="2">{{game | json}}</td>
                        <td colspan="2"></td>
                        <td></td>
                        <td rowspan="2"></td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>