<div id="print">
  <div *ngFor="let group of data; let i = index" class="group-table-wrapper">
    <h1>{{ group.name }}</h1>
    <div 
    style="display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid black;">
      <b>{{clubID}}</b>
      <b>{{leagueID}}</b>
      <b>{{date}}</b>
    </div>
    <div style="display: flex;justify-content: center;align-items: center;">
      <table style="border-collapse: collapse;width: 100%;margin-top: 40px;font-size: 19px;">
        <thead>
          <tr>
            <th style="border: 1px solid black">Match</th>
            <th colspan="2" style="border: 1px solid black">Players</th>
            <th style="border: 1px solid black">Score</th>
            <th style="border: 1px solid black">Bye</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let game of group.data.games | keyvalue">
            <tr>
              <td style="border: 1px solid black;padding: 10px;" rowspan="2">{{ game.key }}</td>
              <td style="border: 1px solid black;padding: 10px;">{{ game.value.team_1[0] }}</td>
              <td style="border: 1px solid black;padding: 10px;">{{ game.value.team_1[1] }}</td>
              <td style="border: 1px solid black;padding: 10px;">
                {{ game.value.score.team_1 }}
              </td>
              <td style="border: 1px solid black;padding: 10px;" rowspan="2">
                {{ game.value.bye[0] }}
              </td>
            </tr>
            <tr>
              <td style="border: 1px solid black;padding: 10px;">{{ game.value.team_2[0] }}</td>
              <td style="border: 1px solid black;padding: 10px;">{{ game.value.team_2[1] }}</td>
              <td style="border: 1px solid black;padding: 10px;">
                {{ game.value.score.team_2 }}
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
    
    <div style="page-break-before: always;" *ngIf="i < data.length - 1"></div>
  </div>
</div>
