<div class="modal">
  <div class="modal__header flex justify-between">
    <h6>
      <span><img src="" alt="" /></span>Lock Round
    </h6>
    <div (click)="close()">
      <span
        ><img src="assets/images/close-icon.svg" alt=""
      /></span>
    </div>
  </div>
  <div class="modal__body">
    <div>
      <div><b>Are you sure you want to lock the round ?</b></div>
      <div>
        <small
          >Upon confirmation, this round will get inserted into the database, and you won't be able to make any further changes.</small
        >
      </div>
    </div>
  </div>
  <div class="modal__footer">
    <div class="flex justify-end">
      <div class="primary-btn">
        <button type="button" class="btn" (click)="lockRound()">Yes</button>
      </div>
      <div class="secondary-btn-light">
        <button type="button" class="btn" (click)="close()">No, I want to make changes.</button>
      </div>
    </div>
  </div>
</div>
