@import "../../../../../assets/scss/abstracts/abstracts";

form {
    padding-bottom: 3rem;

    .white-box {
        background-color: $white-color !important;
        padding: 2.4rem 0rem;
        border-radius: 1.2rem;
        box-shadow: 1px 1px 10px 0px rgba($black-color, 0.08);

    }

    input {
        font-family: $font-bebas;
        color: $black-color;
        font-family: $font-bebas;
        background-color: rgba($black-color, 0.01);
        border: 1px solid rgba($black-color, 0.1);
        border-radius: 1.2rem;
        padding: 2.4rem 1.6rem;
        width: 100%;
        font-size: 3.6rem;
        font-weight: 400;
        line-height: 4.32rem;

        &::placeholder {
            font-family: $font-bebas;
            color: rgba($black-color, 0.3);
            font-size: 3.6rem;
            font-weight: 400;
            line-height: 4.32rem;
        }

        &:focus-visible {
            outline: none !important;
        }

        &:focus {
            border: 1px solid $primary-color;
        }
    }

    .row-title {
        small {
            color: $primary-color;
            font-family: $font-bebas;
            font-size: 2.6rem;
            font-weight: 400;
            line-height: 3.12rem;
        }
    }

    .form-field {
        position: relative;

        input {
            color: $black-color;
            font-family: $font-bebas;
            font-size: 2.6rem;
            font-weight: 400;
            line-height: 3.12rem;

            &::placeholder {
                font-size: 2.6rem;
                line-height: 3.12rem;
            }
        }

        img {
            position: absolute;
            width: 4.2rem;
            right: 4rem;
            bottom: 0rem;
        }
    }
}

@include respond ("phone") {
    .col-md-8 {
        width: 100%;

        .form-field {
            margin-bottom: 2.4rem;
        }
    }

    .col-md-1 {
        width: 25%;

        .row-title {
            display: none;

            small {
                display: none;
            }
        }
    }

    .pr-1 {
        padding-right: 0rem !important;
    }

    .pl-1 {
        padding-left: 0rem !important;
    }

    .PLR-0 {
        padding-left: 1.5rem !important;
        padding-right: 1.5rem !important;
    }
}

@include respond ("tab-port") {
    .col-md-8 {
        width: 100%;

        .form-field {
            margin-bottom: 2.4rem;
        }
    }

    .col-md-1 {
        width: 25%;

        .row-title {
            display: none;

            small {
                display: none;
            }
        }
    }

    .pr-1 {
        padding-right: 0rem !important;
    }

    .pl-1 {
        padding-left: 0rem !important;
    }

    .PLR-0 {
        padding-left: 1.5rem !important;
        padding-right: 1.5rem !important;
    }
}