<div class="page-panel">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 PLR-0">
        <div class="title">
          <h2>Score feed</h2>
        </div>
      </div>
    </div>
    <form>
      <div class="white-box">
        <div class="row">
          <div class="col-lg-12 col-md-12 PLR-0">
            <div class="pl-1 pr-1">
              <input type="text" placeholder="Enter your team name" />
            </div>
          </div>
        </div>
        <div class="row mt-1">
          <div class="col-lg-8 col-md-8 PLR-0">
            <div class="row-title pl-1 pr-1">
              <small>PLAYERS</small>
            </div>
          </div>
          <div class="col-lg-1 col-md-1 PLR-0">
            <div class="row-title pr-1 text-center">
              <small>Game 1</small>
            </div>
          </div>
          <div class="col-lg-1 col-md-1 PLR-0">
            <div class="row-title pr-1 text-center">
              <small>Game 2</small>
            </div>
          </div>
          <div class="col-lg-1 col-md-1 PLR-0">
            <div class="row-title pr-1 text-center">
              <small>Game 3</small>
            </div>
          </div>
          <div class="col-lg-1 col-md-1 PLR-0">
            <div class="row-title pr-1 text-center">
              <small>Game 4</small>
            </div>
          </div>
        </div>
        <div class="row MT-2-half">
          <div class="col-lg-8 col-md-8 PLR-0">
            <div class="pl-1 pr-1 form-field">
              <input
                type="text"
                class="green-input"
                placeholder="Enter PLAYER 1 NAME"
              />
              <img
                src="../../../../../assets/images/player1-text-image.png"
                alt=""
              />
            </div>
          </div>
          <div class="col-lg-1 col-md-1 PLR-0">
            <div class="pr-1 form-field">
              <input
                type="text"
                class="text-center green-input"
                placeholder="00"
              />
            </div>
          </div>
          <div class="col-lg-1 col-md-1 PLR-0">
            <div class="pr-1 form-field">
              <input
                type="text"
                class="text-center green-input"
                placeholder="00"
              />
            </div>
          </div>
          <div class="col-lg-1 col-md-1 PLR-0">
            <div class="pr-1 form-field">
              <input
                type="text"
                class="text-center green-input"
                placeholder="00"
              />
            </div>
          </div>
          <div class="col-lg-1 col-md-1 PLR-0">
            <div class="pr-1 form-field">
              <input
                type="text"
                class="text-center green-input"
                placeholder="00"
              />
            </div>
          </div>
        </div>
        <div class="row MT-2-half">
          <div class="col-lg-8 col-md-8 PLR-0">
            <div class="pl-1 pr-1 form-field">
              <input
                type="text"
                class="blue-input"
                placeholder="Enter PLAYER 2 NAME"
              />
              <img
                src="../../../../../assets/images/player2-text-image.png"
                alt=""
              />
            </div>
          </div>
          <div class="col-lg-1 col-md-1 PLR-0">
            <div class="pr-1 form-field">
              <input
                type="text"
                class="text-center blue-input"
                placeholder="00"
              />
            </div>
          </div>
          <div class="col-lg-1 col-md-1 PLR-0">
            <div class="pr-1 form-field">
              <input
                type="text"
                class="text-center blue-input"
                placeholder="00"
              />
            </div>
          </div>
          <div class="col-lg-1 col-md-1 PLR-0">
            <div class="pr-1 form-field">
              <input
                type="text"
                class="text-center blue-input"
                placeholder="00"
              />
            </div>
          </div>
          <div class="col-lg-1 col-md-1 PLR-0">
            <div class="pr-1 form-field">
              <input
                type="text"
                class="text-center blue-input"
                placeholder="00"
              />
            </div>
          </div>
        </div>
        <div class="row MT-2-half">
          <div class="col-lg-8 col-md-8 PLR-0">
            <div class="pl-1 pr-1 form-field">
              <input
                type="text"
                class="orange-input"
                placeholder="Enter PLAYER 3 NAME"
              />
              <img
                src="../../../../../assets/images/player3-text-image.png"
                alt=""
              />
            </div>
          </div>
          <div class="col-lg-1 col-md-1 PLR-0">
            <div class="pr-1 form-field">
              <input
                type="text"
                class="text-center orange-input"
                placeholder="00"
              />
            </div>
          </div>
          <div class="col-lg-1 col-md-1 PLR-0">
            <div class="pr-1 form-field">
              <input
                type="text"
                class="text-center orange-input"
                placeholder="00"
              />
            </div>
          </div>
          <div class="col-lg-1 col-md-1 PLR-0">
            <div class="pr-1 form-field">
              <input
                type="text"
                class="text-center orange-input"
                placeholder="00"
              />
            </div>
          </div>
          <div class="col-lg-1 col-md-1 PLR-0">
            <div class="pr-1 form-field">
              <input
                type="text"
                class="text-center orange-input"
                placeholder="00"
              />
            </div>
          </div>
        </div>
        <div class="row MT-2-half">
          <div class="col-lg-8 col-md-8 PLR-0">
            <div class="pl-1 pr-1 form-field">
              <input
                type="text"
                class="yellow-input"
                placeholder="Enter PLAYER 4 NAME"
              />
              <img
                src="../../../../../assets/images/player4-text-image.png"
                alt=""
              />
            </div>
          </div>
          <div class="col-lg-1 col-md-1 PLR-0">
            <div class="pr-1 form-field">
              <input
                type="text"
                class="text-center yellow-input"
                placeholder="00"
              />
            </div>
          </div>
          <div class="col-lg-1 col-md-1 PLR-0">
            <div class="pr-1 form-field">
              <input
                type="text"
                class="text-center yellow-input"
                placeholder="00"
              />
            </div>
          </div>
          <div class="col-lg-1 col-md-1 PLR-0">
            <div class="pr-1 form-field">
              <input
                type="text"
                class="text-center yellow-input"
                placeholder="00"
              />
            </div>
          </div>
          <div class="col-lg-1 col-md-1 PLR-0">
            <div class="pr-1 form-field">
              <input
                type="text"
                class="text-center yellow-input"
                placeholder="00"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-1">
        <div class="col-lg-12 col-md-12 PLR-0">
          <div class="flex justify-start align-start">
            <button type="submit" class="btn primary-btn mr-1">SUBMIT</button>
            <button type="button" class="btn secondary-btn">
              BACK TO MAIN MENU
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
