<div class="panel">
  <div class="container">
    <div class="view-score-title">
      <div>
        <h6>Score</h6>
        <small
          >See all the scores in here of overall rounds, clubs & company</small
        >
      </div>
    </div>
    <div class="view-score-table">
      <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
        <mat-tab label="Group 1">
          <table class="table-2">
            <thead>
              <tr>
                <th>Rank</th>
                <th>Players</th>
                <th>Pts Won</th>
                <th>Pts W%</th>
                <th>Games Played</th>
                <th class="green-font">+ Wins</th>
                <th class="red-font">- Losses</th>
                <th>Win%</th>
                <th>Result(Last 6)</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>Skylar Mango</td>
                <td>28</td>
                <td>75.00 %</td>
                <td>25</td>
                <td class="green-font">+18</td>
                <td class="red-font">-7</td>
                <td>75.00 %</td>
                <td>
                  <div class="flex justify-center">
                    <div class="status-square bg-red flex justify-center">
                      <img
                        src="../../../../../../assets/images/l-latter.svg"
                        alt=""
                      />
                    </div>
                    <div class="status-square bg-green flex justify-center">
                      <img
                        src="../../../../../../assets/images/w-latter.svg"
                        alt=""
                      />
                    </div>
                    <div class="status-square bg-red flex justify-center">
                      <img
                        src="../../../../../../assets/images/l-latter.svg"
                        alt=""
                      />
                    </div>
                    <div class="status-square bg-red flex justify-center">
                      <img
                        src="../../../../../../assets/images/l-latter.svg"
                        alt=""
                      />
                    </div>
                    <div class="status-square bg-green flex justify-center">
                      <img
                        src="../../../../../../assets/images/w-latter.svg"
                        alt=""
                      />
                    </div>
                    <div class="status-square bg-green flex justify-center">
                      <img
                        src="../../../../../../assets/images/w-latter.svg"
                        alt=""
                      />
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
