@import "../abstracts/abstracts";

.auth {
  &__body {
    h4 {
      font-size: 3.2rem;
      font-weight: 500;
      margin-bottom: 1.2rem;
    }

    p {
      color: rgba($black-color, 0.4);
      font-size: 1.4rem;
      font-weight: 500;
      margin-bottom: 4rem;
    }

    h5 {
      font-size: 1.6rem;
      font-weight: 500;
      margin: 0;
    }
  }

  .contact-chat {
    color: rgba($black-color, 0.5);
    display: block;
    font-size: 1.4rem;
    font-weight: 500;

    a {
      color: $french_rose;
      font-weight: 600;
    }
  }
}

.form-control {
  @include placeholderWithFontSize(rgba($black-color, 0.45), 1.6rem, 500);
  position: relative;
  height: 10rem;

  &--textarea {
    .mat-mdc-form-field-infix {
      height: 150px !important;
    }

    .mdc-text-field .mdc-floating-label {
      top: 30px;
    }

    textarea {
      height: 80px;
    }
  }

  &--height {
    height: auto;
  }

  &--filter {
    .mat-mdc-form-field-infix {
      padding: 0.9em 0 0.8em 0 !important;
    }
  }

  .mat-mdc-floating-label {
    mat-label {
      color: rgba($black-color, 0.45);
      font-size: 1.6rem;
    }
  }

  .mat-focused {

    .mdc-notched-outline__leading,
    .mdc-notched-outline__notch,
    .mdc-notched-outline__trailing {
      color: $french_rose !important;
    }

    mat-label {
      color: $french_rose;
    }
  }

  mat-form-field {
    width: 100%;

    .mat-mdc-form-field-appearance-outline.mat-focused .mat-mdc-form-field-outline-thick,
    .mdc-notched-outline__leading,
    .mdc-notched-outline__notch,
    .mdc-notched-outline__trailing {
      color: rgba($black-color, 0.1);
    }

    .mat-mdc-form-field-appearance-outline .mat-mdc-form-field-outline-thick,
    .mdc-notched-outline__leading,
    .mdc-notched-outline__notch,
    .mdc-notched-outline__trailing {
      border-width: 1px;
    }

    .mat-mdc-form-field-infix {
      display: flex;
      padding: 1em 0 1em 0;
    }

    .mat-mdc-form-field-wrapper {
      padding-bottom: 0;
      margin: 0;
    }

    .mat-mdc-select-placeholder {
      color: rgba($black-color, 0.45);
      font-size: 1.6rem;
      font-weight: 500;
    }
  }

  // &--datepicker {
  //   @include placeholderWithFontSize(rgba($black-color, 0.45), 1.4rem, 500);

  //   .mat-mdc-form-field-infix {
  //     border-top: 0;
  //     padding: 0.3em 0 0.1em 0 !important;

  //     .mat-icon-button {
  //       @include square(5rem);
  //       position: relative;
  //       left: 1rem;

  //       svg {
  //         @include square(2rem);
  //         color: rgba($black-color, 0.25);
  //       }
  //     }
  //   }
  // }
}

.auth-box-main {
  @include pos(absolute, null, null, 0, null);
  @include flex(null, null, column);
  width: calc(100% - 12.8rem);
  border-radius: 1.2rem;
  left: 1rem;
  margin: 6.4rem;

  @include respond("tab-port"){
    width: calc(100% - 6rem);
  }
}

.auth-img-box {
  border: 1px solid rgba($white-color, 0.1);
  background: rgba($white-color, 0.1);
  display: flex;
  border-radius: 0.8rem;
  padding: 1.6rem;
  margin-bottom: 2rem;

  &:last-child {
    margin-bottom: 0;
  }

  span {
    color: $white-color;
    vertical-align: middle;
    font-size: 2.4rem;
    margin-right: 1.6rem;
  }

  h6 {
    color: $white-color;
    text-align: center;
    display: inline-block;
    font-size: 1.4rem;
    font-weight: 400;
    margin: 0;
  }
}