<form [formGroup]="playerForm" (ngSubmit)="submitData()">
  <div class="upload-by-data">
    <div class="upload">
      <div class="upload__data">
        <div
          class="flex justify-end align-end MT-2-half title"
          [ngClass]="{
            'round-one': true,
            'round-two': roundsLength >= 1
          }"
        >
          <div class="row-title">
            <small>Players</small>
          </div>
          <div
            [ngClass]="{
              'row-title': true,
              'row-title-two': roundsLength >= 1
            }"
          >
            <small>Rating%</small>
          </div>
          <div class="row-title-two" *ngIf="roundsLength >= 1">
            <small>History</small>
          </div>
          <!-- <div><small>Rating</small></div> -->
        </div>
        <div formArrayName="players">
          <div
            *ngFor="let player of players.controls; let i = index"
            [formGroupName]="i"
            class="flex justify-end MT-2-half"
            [ngClass]="{
              'round-one': true,
              'round-two': roundsLength >= 1
            }"
          >
            <div class="row-field">
              <mat-form-field>
                <input
                  matInput
                  type="text"
                  formControlName="name"
                  placeholder="Enter name"
                  required
                />
                <div class="round-one-icon" *ngIf="player.value.round">
                  <img
                    src="../../../../../../assets/images/blue-circle-icon.svg"
                    alt=""
                  />
                </div>
              </mat-form-field>
            </div>
            <div
              [ngClass]="{
                'row-field': true,
                'row-field-two': roundsLength >= 1
              }"
            >
              <mat-form-field>
                <input
                  matInput
                  type="number"
                  formControlName="score"
                  placeholder="Enter score"
                  required
                />
              </mat-form-field>
            </div>
            <div class="row-field-two" *ngIf="roundsLength >= 1">
              <!-- Display win/lose history -->
              <div class="flex justify-center">
                <ng-container *ngIf="player.value.winLoseHistory">
                  <div *ngFor="let winLose of player.value.winLoseHistory">
                    <div
                      class="status-square bg-red flex justify-center"
                      [ngClass]="{
                        'bg-green': winLose === '1',
                        'bg-red': winLose === '0'
                      }"
                    >
                      <img
                        [src]="
                          winLose === '1'
                            ? 'assets/images/w-latter.svg'
                            : 'assets/images/l-latter.svg'
                        "
                        alt=""
                      />
                    </div>
                  </div>
                </ng-container>
                <div
                  *ngIf="!player.value.winLoseHistory"
                  class="flex justify-center mr-3"
                >
                  <div class="mr-3">
                    <span
                      ><img
                        src="../../../../../../assets/images/null-icon.svg"
                        alt=""
                    /></span>
                  </div>
                  <div class="mr-3">
                    <span
                      ><img
                        src="../../../../../../assets/images/null-icon.svg"
                        alt=""
                    /></span>
                  </div>
                  <div class="mr-3">
                    <span
                      ><img
                        src="../../../../../../assets/images/null-icon.svg"
                        alt=""
                    /></span>
                  </div>
                  <div class="mr-3">
                    <span
                      ><img
                        src="../../../../../../assets/images/null-icon.svg"
                        alt=""
                    /></span>
                  </div>
                  <div class="mr-3">
                    <span
                      ><img
                        src="../../../../../../assets/images/null-icon.svg"
                        alt=""
                    /></span>
                  </div>
                  <div>
                    <span
                      ><img
                        src="../../../../../../assets/images/null-icon.svg"
                        alt=""
                    /></span>
                  </div>
                </div>
              </div>
            </div>
            <div>
              <button
                (click)="deletePlayer(i)"
                type="button"
                class="delete-icon flex justify-center"
              >
                <img src="assets/images/delete-icon.svg" alt="" />
              </button>
            </div>
          </div>
        </div>
        <button type="button" class="btn" (click)="addPlayer()">
          <img src="assets/images/add-blue-icon.svg" alt="" />
          ADD NEW PLAYER
        </button>
      </div>
      <div class="upload__button flex justify-end">
        <div class="primary-btn">
          <button
            type="submit"
            class="btn"
            [disabled]="roundCount === undefined"
          >
            Build
          </button>
        </div>
      </div>
      <div class="flex justify-end alert-msg" *ngIf="roundsLength >= 1">
        <div>
          <span><img src="assets/images/alert-yellow-icon.svg" alt="" /></span>
        </div>
        <div>
          <p>
            Manually key-in rating % to place the drop-in players appropriately.
            Use the current rating % and win-lose history to estimate.
          </p>
        </div>
      </div>
    </div>
  </div>
</form>
