@import "../../../../../../assets/scss/abstracts/abstracts";

.null-img {
    img {
        @include respond("tab-port") {
            width: 2.4rem;
        }
    }
}

.sort-icon {
    cursor: pointer;

    span {
        vertical-align: middle;

        img {
            width: 15px;
        }
    }
}

.players-info {
    position: absolute;
    display: flex;
    top: 0;
    right: 2rem;
    font-size: 1.4rem;

    div {
        background: #efefef;
        padding: 0.5rem 1rem;
        border-radius: 0.5rem;
        margin-left: 1rem;
        color: rgba(0, 0, 0, 0.6);
    }

    @include respond ("phone") {
        top: 2rem;
        right: 3rem;
    }
}