<div>
  <div class="upload-by-data">
    <div class="upload">
      <div class="upload__data">
        <div class="row player-panel align-center justify-between">
          <div class="col-md-6 PL-0">
            <small>players</small>
          </div>
          <div class="col-md-6 PR-0">
            <div class="flex justify-start align-start">
              <div>
                <mat-form-field>
                  <mat-select>
                    <mat-option value="one">5</mat-option>
                    <mat-option value="two">10</mat-option>
                    <mat-option value="two">15</mat-option>
                    <mat-option value="two">20</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="primary-btn-dark">
                <button class="btn flex justify-center">
                  <span
                    ><img
                      src="../../../../../../assets/images/add-icon.svg"
                      alt="" /></span
                  >Add
                </button>
              </div>
            </div>
          </div>
        </div>
        <div>
          <div>
            <mat-form-field>
              <mat-label>Input</mat-label>
              <input matInput />
            </mat-form-field>
          </div>
          <div>
            <mat-form-field>
              <mat-label>Input</mat-label>
              <input matInput />
            </mat-form-field>
          </div>
          <div>
            <div class="delete-icon flex justify-center">
              <img
                src="../../../../../../assets/images/delete-icon.svg"
                alt=""
              />
            </div>
          </div>
        </div>
      </div>
      <div class="upload__button flex justify-end">
        <div class="primary-btn-dark">
          <button type="button" class="btn">Save</button>
        </div>
        <div class="secondary-btn-light">
          <button type="button" class="btn">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</div>
