<!-- static  -->

<div class="panel">
  <div class="container">
    <div class="league-title">
      <div>
        <h6>{{ leagueID }}</h6>
      </div>
      <div class="flex justify-end">
        <!-- <div class="flex mr-1">
          <span><img src="assets/images/club-icon.svg" alt="" /></span
          ><small>{{selectedCompanyID}}</small>
        </div> -->
        <div class="flex mr-1">
          <span><img src="assets/images/company-icon.svg" alt="" /></span
          ><small>{{selectedClubID}}</small>
        </div>
        <div class="table-buttons flex justify-end">
          <div>
            <select [(ngModel)]="selectedFormat" (change)="onSelectionChange()">
              <option value="1">Format 1</option>
              <option value="2">Format 2</option>
            </select>
          </div>
          <div class="secondary-btn-light">
            <button
              *ngIf="!isEdit"
              type="button"
              class="btn flex justify-center"
              (click)="openDialogue()"
            >
              <span><img src="assets/images/lock-icon.svg" alt="" /></span>
              Lock Round
            </button>
          </div>

          <div class="primary-btn">
            <button
              class="btn flex justify-center"
              (click)="downloadTableAsPDF()"
            >
              <span><img src="assets/images/download-icon.svg" alt="" /></span
              >Download
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="table-format-one">
      <div>
        <app-league-table-format-one
          *ngIf="selectedFormat == '1' && groups"
          [groups]="groups"
          id="playerData"
          [isEdit]="isEdit"
          (blurTeamScore)="onBlurTeamScore($event)"
        ></app-league-table-format-one>
      </div>
    </div>
    <div class="table-format-two" *ngIf="selectedFormat == '2'">
      <div>
        <app-league-table-format-two
          *ngIf="selectedFormat == '2' && groups"
          [groups]="groups"
          id="playerData"
          [isEdit]="isEdit"
          (blurTeamScore)="onBlurTeamScore($event)"
        ></app-league-table-format-two> ⁠
      </div>
    </div>
    <div class="upload__button flex justify-end" *ngIf="isEdit">
      <div class="primary-btn">
        <button type="button" class="btn" (click)="onSaveClick()">Save</button>
      </div>
      <div class="secondary-btn-light">
        <button type="button" class="btn" (click)="onCancel()">Cancel</button>
      </div>
    </div>
  </div>
  <!-- <app-print-round [data]="groups" #printRoundComponent ></app-print-round> -->
</div>
