<div class="panel">
  <div class="container">
    <div class="login flex align-start justify-center">
      <div class="login__img">
        <img src="../../../../../../assets/images/login-image.png" alt="" />
      </div>
      <div class="login__form">
        <h6>Log in to your account</h6>
        <div class="text-center">
          <small>Enter your details to access your account.</small>
        </div>
        <form>
          <div>
            <label for="email">Email</label>
            <input type="email" placeholder="Enter your email" />
          </div>
          <div class="MT-1-half">
            <label for="text">Password</label>
            <div>
              <input
                [type]="hidePassWord ? 'password' : 'text'"
                placeholder="Enter your password"
              />
              <img
                *ngIf="hidePassWord"
                src="../../../../../../assets/images/eye-close-icon.svg"
                (click)="hidePassWord = !hidePassWord"
                alt=""
              />
              <img
                *ngIf="!hidePassWord"
                src="../../../../../../assets/images/eye-open-icon.svg"
                (click)="hidePassWord = !hidePassWord"
                alt=""
              />
            </div>
          </div>

          <div class="primary-btn-dark">
            <button type="submit" class="btn">Log in</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
