<table>
  <thead>
    <tr>
      <th>
        <span
          ><img
            src="../../../../../../assets/images/match-icon.svg"
            alt="" /></span
        >Match
      </th>
      <th colspan="2">
        <span
          ><img
            src="../../../../../../assets/images/players-icon.svg"
            alt="" /></span
        >Players
      </th>
      <th>
        <span
          ><img
            src="../../../../../../assets/images/score-icon.svg"
            alt="" /></span
        >Score
      </th>
      <th>
        <span
          ><img
            src="../../../../../../assets/images/bye-icon.svg"
            alt="" /></span
        >Bye
      </th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let game of gamesArray">
      <tr>
        <td rowspan="2">{{game[0]}}</td>
        <td>{{game[1].team_1[0]}} </td>
        <td>{{game[1].team_2[0]}}</td>
        <td>{{game[1].score.team_1}}</td>
        <td rowspan="2">{{game[1].bye[0]}}</td>
      </tr>
      <tr>
        <td>{{game[1].team_1[1]}}</td>
        <td>{{game[1].team_2[1]}}</td>
        <td>{{game[1].score.team_2}}</td>
      </tr>
    </ng-container>
    
  </tbody>
</table>

