
 <!--<table>
  <thead>
    <tr>
      <th>
        <span
          ><img
            src="../../../../../../assets/images/match-icon.svg"
            alt="" /></span
        >Match
      </th>
      <th colspan="2">
        <span
          ><img
            src="../../../../../../assets/images/players-icon.svg"
            alt="" /></span
        >Players
      </th>
      <th>
        <span
          ><img
            src="../../../../../../assets/images/score-icon.svg"
            alt="" /></span
        >Score
      </th>
      <th>
        <span
          ><img
            src="../../../../../../assets/images/bye-icon.svg"
            alt="" /></span
        >Bye
      </th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let game of gamesArray">
    <tr class="odd-row">
      <td rowspan="2" class="text-center">{{game[0]}}</td>
      <td>
        <span
          ><img
            src="../../../../../../assets/images/player-1-png.png"
            alt="" /></span
        >{{game[1].team_1[0]}}
      </td>
      <td>
        <span
          ><img
            src="../../../../../../assets/images/player-2-png.png"
            alt="" /></span
        >{{game[1].team_2[0]}}
      </td>
      <td class="text-center">{{game[1].score.team_1}}</td> C
      <td class="text-center"></td>
      <td rowspan="2" class="bye-name">{{game[1].bye[0]}}</td>
    </tr>
    <tr class="odd-row">
      <td>
        <span
          ><img
            src="../../../../../../assets/images/player-1-png.png"
            alt="" /></span
        >{{game[1].team_1[1]}}
      </td>
      <td>
        <span
          ><img
            src="../../../../../../assets/images/player-2-png.png"
            alt="" /></span
        >{{game[1].team_2[1]}}
      </td>
      <td class="text-center">{{game[1].score.team_2}}</td> c
      <td class="text-center"></td>
    </tr>
  </ng-container>
  </tbody>
</table>
-->
<!-- static -->

<table>
  <thead>
    <tr>
      <th>
        <span
          ><img
            src="../../../../../../assets/images/match-icon.svg"
            alt="" /></span
        >Match
      </th>
      <th colspan="2">
        <span
          ><img
            src="../../../../../../assets/images/players-icon.svg"
            alt="" /></span
        >Players
      </th>
      <th>
        <span
          ><img
            src="../../../../../../assets/images/score-icon.svg"
            alt="" /></span
        >Score
      </th>
      <th>
        <span
          ><img
            src="../../../../../../assets/images/bye-icon.svg"
            alt="" /></span
        >Bye
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td rowspan="2" class="text-center">1</td>
      <td>
        <span
          ><img
            src="../../../../../../assets/images/player-1-png.png"
            alt="" /></span
        >Dulce Dokidis
      </td>
      <td>
        <span
          ><img
            src="../../../../../../assets/images/player-2-png.png"
            alt="" /></span
        >Desirae Aminoff
      </td>
      <td class="text-center"><input type="text" /></td>
      <td rowspan="2" class="bye-name">Paityn Vaccaro</td>
    </tr>
    <tr>
      <td>
        <span
          ><img
            src="../../../../../../assets/images/player-1-png.png"
            alt="" /></span
        >Haylie Vaccaro
      </td>
      <td>
        <span
          ><img
            src="../../../../../../assets/images/player-2-png.png"
            alt="" /></span
        >Marley Bator
      </td>
      <td class="text-center"><input type="text" /></td>
    </tr>
    <tr>
      <td rowspan="2" class="text-center">2</td>
      <td>
        <span
          ><img
            src="../../../../../../assets/images/player-1-png.png"
            alt="" /></span
        >Miracle Ekstrom Bothman
      </td>
      <td>
        <span
          ><img
            src="../../../../../../assets/images/player-2-png.png"
            alt="" /></span
        >Chance Lipshutz
      </td>
      <td class="text-center"><input type="text" /></td>
      <td rowspan="2" class="bye-name">Jaylon Gouse</td>
    </tr>
    <tr>
      <td>
        <span
          ><img
            src="../../../../../../assets/images/player-1-png.png"
            alt="" /></span
        >Lincoln Herwitz
      </td>
      <td>
        <span
          ><img
            src="../../../../../../assets/images/player-2-png.png"
            alt="" /></span
        >Roger Donin
      </td>
      <td class="text-center"><input type="text" /></td>
    </tr>
    <tr>
      <td rowspan="2" class="text-center">3</td>
      <td>
        <span
          ><img
            src="../../../../../../assets/images/player-1-png.png"
            alt="" /></span
        >Miracle Ekstrom Bothman
      </td>
      <td>
        <span
          ><img
            src="../../../../../../assets/images/player-2-png.png"
            alt="" /></span
        >Chance Lipshutz
      </td>
      <td class="text-center"><input type="text" /></td>
      <td rowspan="2" class="bye-name">Jaylon Gouse</td>
    </tr>
    <tr>
      <td>
        <span
          ><img
            src="../../../../../../assets/images/player-1-png.png"
            alt="" /></span
        >Lincoln Herwitz
      </td>
      <td>
        <span
          ><img
            src="../../../../../../assets/images/player-2-png.png"
            alt="" /></span
        >Roger Donin
      </td>
      <td class="text-center"><input type="text" /></td>
    </tr>
    <tr>
      <td rowspan="2" class="text-center">4</td>
      <td>
        <span
          ><img
            src="../../../../../../assets/images/player-1-png.png"
            alt="" /></span
        >Miracle Ekstrom Bothman
      </td>
      <td>
        <span
          ><img
            src="../../../../../../assets/images/player-2-png.png"
            alt="" /></span
        >Chance Lipshutz
      </td>
      <td class="text-center"><input type="text" /></td>
      <td rowspan="2" class="bye-name">Jaylon Gouse</td>
    </tr>
    <tr>
      <td>
        <span
          ><img
            src="../../../../../../assets/images/player-1-png.png"
            alt="" /></span
        >Lincoln Herwitz
      </td>
      <td>
        <span
          ><img
            src="../../../../../../assets/images/player-2-png.png"
            alt="" /></span
        >Roger Donin
      </td>
      <td class="text-center"><input type="text" /></td>
    </tr>
    <tr>
      <td rowspan="2" class="text-center">5</td>
      <td>
        <span
          ><img
            src="../../../../../../assets/images/player-1-png.png"
            alt="" /></span
        >Miracle Ekstrom Bothman
      </td>
      <td>
        <span
          ><img
            src="../../../../../../assets/images/player-2-png.png"
            alt="" /></span
        >Chance Lipshutz
      </td>
      <td class="text-center"><input type="text" /></td>
      <td rowspan="2" class="bye-name">Jaylon Gouse</td>
    </tr>
    <tr>
      <td>
        <span
          ><img
            src="../../../../../../assets/images/player-1-png.png"
            alt="" /></span
        >Lincoln Herwitz
      </td>
      <td>
        <span
          ><img
            src="../../../../../../assets/images/player-2-png.png"
            alt="" /></span
        >Roger Donin
      </td>
      <td class="text-center"><input type="text" /></td>
    </tr>
  </tbody>
</table>