<div class="panel">
  <div class="container">
    <div class="about-us">
      <div class="flex justify-center mb-1">
        <div class="mr-1">
          <h6>What is eleagueonline?</h6>
          <p>
            At
            <a [routerLink]="homePageUrl"><span>https://eleagueonline.com</span></a>, we are the first-ever platform to
            automate running Pickleball
            leagues with a level of simplicity and efficiency never seen before
            on the courts. The product offers rich features like rounds/groups
            creation, game fixtures, round/league level scoring and managing
            nuances like no-shows and drop-ins.
          </p>
        </div>
        <div>
          <!-- <iframe
            src="https://www.youtube.com/embed/sJh7rgHYjj0"
            frameborder="0"
          ></iframe> -->
          <iframe src="https://www.youtube.com/embed/sJh7rgHYjj0?si=xkRh4OrWawdbvNeZ"
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen></iframe>
        </div>
      </div>
      <div class="mb-1">
        <p>
          Forget spreadsheets for creating fixtures and recording scores,
          <a [routerLink]="homePageUrl"><span>eleagueonline.com</span></a> takes
          care of everything - freeing up players and organizers to focus on
          what matters most – the game!
        </p>
      </div>
      <div class="mb-1">
        <p>
          Whether you're a casual organizer or run a bustling league,
          <a [routerLink]="homePageUrl"><span>eleagueonline.com</span></a> is
          your secret weapon for smooth, streamlined gameplay. Join us and
          experience the pickleball revolution!
        </p>
      </div>
      <div class="mb-1">
        <p>
          We are dedicated to continuously improving our platform and adding new
          features to meet the evolving needs of the Pickleball community. If
          you have any questions or suggestions, please don't hesitate to
          contact us. We are always happy to hear from you!
        </p>
      </div>
    </div>
  </div>
</div>